<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="wcmModalLabel">
        Policy Status Help
    </h4>
</div>

<div class="modal-body">


    <ul class="list-vertical">
        <li><span>Pending – Application Received</span> Application has been received by the OneAmerica home office.</li>
        <li><span>Pending – In Underwriting</span> Application is being reviewed by underwriting and/or underwriting requirements are outstanding.</li>
        <li><span>Pending – Requirements Outstanding, Underwriting Complete</span> Underwriting is complete, however, outstanding requirements are needed to issue.</li>
        <li><span>Pending – Requirements Outstanding, Not Issued</span> Outstanding requirements are needed to issue. Application does not require underwriting.</li>
        <li><span>Pending – Ready for Issue</span> All requirements needed for issue are complete.</li>
        <li class="margin-top-30"><span>Issued – Issued Not Paid</span> Policy issued and sent. Delivery requirements are outstanding and must be received before commissions can be paid.</li>
        <li><span>Issued – Ready for Payment</span> All outstanding requirements have been received. Commission is ready to be paid and policy put in force.</li>
        <li><span>Issued – Paid</span> Policy is active. Policy issued, sent and commission paid.</li>
        <li><span>Pending/Issued – In Process</span> Policy application is being processed. If status has not changed in three business days, please contact your case manager for details.</li>
        <li class="margin-top-30"><span>Declined</span> Underwriting has declined the application.</li>
        <li><span>Postponed</span> Underwriting has postponed the application.</li>
        <li><span>Withdrawn</span> Customer no longer wishes to pursue policy.</li>
        <li><span>Incomplete</span> Application closed. Additional information needed to move forward.</li>
        <li><span>Terminated – Paid</span> Policy terminated due to death, maturity or conversion.</li>
        <li><span>Terminated – [Status Detail]</span> Policy terminated due to surrender, lapse, not taken or policy expiration.</li>
    </ul>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
