<div class="page-content">
<div class="page-header">
<h1>Service-Only Products</h1>
</div>

<p>You can access information on this page to help you service your clients' existing policies.</p>

<p>Although the products listed are no longer sold, in some cases you may identify opportunities through contractual privileges to help clients in their life journey.</p>


</div>


<h2>Life Insurance</h2>

<h3>Term Life Insurance</h3>

<ul>
<li><a href="#c/product-pages/service-only/atp3-term" target="_self" >ATP3</a></li>

<li><a href="#c/product-pages/service-only/term-2002" target="_self" >Term 2002</a></li>
</ul>

<h3>Universal Life Insurance</h3>

<ul>
<li><a href="#c/product-pages/service-only/century" target="_self" >Century</a></li>

<li><a href="#c/product-pages/service-only/lifestyle-freedom-ul" target="_self" >LifeStyle Freedom UL</a></li>

<li><a href="#c/product-pages/service-only/optimum-plus" target="_self" >Optimum Plus</a></li>
</ul>

<h3>Variable Universal Life Insurance</h3>

<ul>
<li><a href="#c/product-pages/service-only/american-accumulator" target="_self" >American Accumulator</a></li>

<li><a href="#c/product-pages/service-only/asset-care-single-premium-vul" target="_blank" >Asset-Care Single Premium VUL</a></li>

<li><a href="#c/product-pages/service-only/asset-care-last-survivor-spvul" target="_self" >Asset-Care Last Survivor Single Premium VUL</a></li>

<li><a href="#c/product-pages/service-only/flexible-premium-vul" target="_self" >Flexible Premium VUL</a></li>

<li><a href="#c/product-pages/service-only/single-premium-vul" target="_self" >Single Premium VUL</a></li>

<li><a href="#c/product-pages/service-only/last-survivor-flexible-premium-vul" target="_self" >Last Survivor Flexible Premium VUL</a></li>

<li><a href="#c/product-pages/service-only/last-survivor-single-premium-vul" target="_self" >Last Survivor Single Premium VUL</a></li>
</ul>

<h3>Whole Life Insurance</h3>

<ul>
<li><a href="#c/product-pages/service-only/legacy-2004" target="_self" >Legacy 2004</a></li>

<li><a href="#c/product-pages/service-only/liberty" target="_self" >Liberty</a></li>
</ul>

<hr />
<h2>Annuities</h2>

<h3>Fixed Annuities</h3>

<ul>
<li><a href="#c/product-pages/service-only/accumannuity-ii" target="_self" >AccumAnnuity II</a></li>

<li><a href="#c/product-pages/service-only/secure5" target="_self" >Secure5</a></li>

<li><a href="#c/product-pages/service-only/securechoice" target="_self" >SecureChoice</a></li>
</ul>

<h3>Variable Annuities</h3>

<ul>
<li><a href="#c/product-pages/service-only/directpoint" target="_self" >DirectPoint</a></li>

<li><a href="#c/product-pages/service-only/starpoint" target="_self" >StarPoint</a></li>

<li><a href="#c/product-pages/service-only/voyage-protector" target="_self" >Voyage Protector</a></li>
</ul>

<hr />
<p><strong>Note</strong><br />
Not a deposit • Not FDIC or NCUSIF insured • Not guaranteed by the institution • Not insured by any federal government agency • May go down in value</p>

<p>OneAmerica is the marketing name for the companies of OneAmerica.</p>

<p>Products issued and underwritten by the following OneAmerica companies: American United Life Insurance Company<sup>®</sup> (AUL) and Pioneer Mutual Life Insurance Company<sup>®</sup> (PML), Indianapolis, IN.</p>

<p><strong>Term life insurance</strong>: ATP3 form number series: 2000. Term 2002 form number series: 2450. Not available in all states or may vary by state.</p>

<p><strong>Universal life insurance</strong>: Century form number series: ???. LifeStyle Freedom UL form number series: ???. Optimum Plus form number series: ???. Not available in all states or may vary by state.</p>

<p><strong>Variable universal life insurance</strong>: American Accumulator form number series: FPVUL. Asset-Care Single Premium VUL form number series: ???. Asset-Care Last Survivor Single Premium VUL form number series: ???. Flexible Premium VUL form number series: ???. Single Premium VUL form number series: ???. Last Survivor Flexible Premium VUL form number series: ???. Last Survivor Single Premium VUL form number series: ???. Not available in all states or may vary by state.</p>

<p><strong>Whole life insurance</strong>: Legacy 2004 form number series: L-57. Liberty form number series: L-57. Not available in all states or may vary by state.</p>

<p><strong>Fixed annuities</strong>: AccumAnnuity II form number series:LA-31.JKT AC. Secure5 form number series: LA-31.JKT S5. SecureChoice form number series: ???. Not available in all states or may vary by state.</p>

<p><strong>Variable annuities</strong>: DirectPoint form number series: NLIVA99. StarPoint form number series: IVA2002. Voyage Protector form number series: IVA2007. Not available in all states or may vary by state.</p>

<p>All guarantees are subject to the claims-paying ability of the issuing company.</p>



<div class="modal help-modal fade" id="wcmModal" tabindex="-1" role="dialog" aria-labelledby="wcmModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>
<div class="modal-body">


</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>




































