<div class="page-header">
<h1>Fiduciary E-newsletter Archive</h1>
</div>

<div class="clearfix">








</div>


<h2>2017</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid" style=" height: 141px;"><tbody>
<tr role="row">
<td>June 8, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=b1ddc36585423a4204935db7e507084408247fdf7367fbe5e0ca96dbe6d540c7937f90d6f9107c158afc0babb3ae7fcca68eca650b1912bbf0ee1eb9e5f727959cac7f046f2e637e9e824837696c2746" >Fiduciary Rule Update: Acknowledgement Letter</a></td>
</tr>

<tr role="row">
<td>June 2, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=3e921ef7d5e78b4c673710ad5830bdea8e5d17be065c63c5841dab20e166f38bea5ca49a7d914d4537aa30621410433e83c7db483afd865a287cb914e4e9b56e0d5945aeda460646b9dc670b7d366b28" >Fiduciary Rule Update</a></td>
</tr>

<tr role="row">
<td>April 5, 2017</td>
<td><a href="http://view.statelife.oneamericaemailservices.com/?qs=26aae2885ccc082bdd63e043ad032f3f632f48e17d91d6ef23728564698f6c8ee8c6a8b6340ebfaa6bfa35e8542509400e7878184c5c1182bf83e56acdb6895f8250b58b82a980dc" >Fiduciary Update: Several Changes Suspended</a></td>
</tr>

<tr role="row">
<td style=" height: 23px;">March 13, 2017</td>
<td style=" height: 23px;"><a href="http://view.statelife.oneamericaemailservices.com/?qs=55609fe925123662c020e226dfe0fc94c629c99d99156cee4c40cd87c8e7c5c59ac95c25df8a2b5572acc1d09b9676d00d67149dc8a6ab3144ef604c3db19c6879d64ceb732f2703" >Strategic Changes</a></td>
</tr>

</tbody></table>

<h2>2016</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td>Nov. 17, 2016</td>
<td><a href="http://view.statelife.oneamericaemailservices.com/?qs=1ac97b19e67186a0cfc524b6375bc70f245c2ff5cbf7166ae8e6b0d6154a3f06c25ab8504f23ab442d4737ae0afc599cce898da1d1989488bbc1c0ade51dab53e4e2b09e3ca95a7d" >How Does the Election Affect the Fiduciary Rule?</a></td>
</tr>

<tr role="row">
<td>Nov. 4, 2016</td>
<td><a href="http://view.statelife.oneamericaemailservices.com/?qs=c8b928f32764d135511e1124901e7be409daeb4b073eba6d8affa6d16dee2d5b96a293af19cf7b7ec57d06a5b0ed7e85f6aca828c90dbe909424f1c271b619f57c4068be777eae9a" >Care Solutions and the New DOL Rule</a></td>
</tr>

</tbody></table>


<hr>


<div class="modal fade" id="wcmModal" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>

<div class="modal help-modal fade" id="wcmModalLarge" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>

<div class="modal help-modal fade" id="wcmModalXLarge" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog modal-auto" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>