<div class="page-content">
    <div class="page-header">
        <h1>Freedom Builder</h1>
    </div>

    <div class="clearfix">
        <div class="tabbable tabbable-in-content">
            <ul class="nav nav-tabs" id="myTab4">

                <li class="active"> <a href="#client-facing" data-toggle="tab">
                    Producer Materials
                </a>
                </li>

                <li> <a href="#producer-facing" data-toggle="tab">
                    Client Materials
                </a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div id="client-facing" class="tab-pane in active">
                    <div class="row">
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-8">

                            <p>Coming soon</p>

                        </div>
                    </div>
                </div>


                <div id="producer-facing" class="tab-pane">

                </div>
            </div>
        </div>


        <div class="jumplinks-traveling affix-top" id="jumplinks-traveling">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">On this page
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>

            </div>
        </div>


        <p>Assist your clients who may want to take advantage of positive market returns in some years while knowing their account value is protected from declines in other years. Introduce them to Freedom Builder.</p>


    </div>


    <h2 dir="ltr">Policy Structure</h2>

    <p dir="ltr">One-year modified premium deferred fixed indexed annuity</p>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <th style=" text-align: left;"><strong>Issuing Company</strong></th>
        <td>American United Life Insurance Company<sup>®</sup></td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Policy Form Number</strong></th>
        <td>LA-32</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Issue Ages</strong></td>
        <td>
            <ul>
                <li>0–90 on the 5- and 7-year surrender charge products</li>

                <li>0–85 on the 9-year surrender charge product</li>
            </ul>
        </td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Sweet Spot</strong></th>
        <td>
            <ul>
                <li>Risk-averse investors who seek security and do not want to invest in registered products</li>

                <li>Pre-retiree market, individuals ages 55–70</li>

                <li>Retirees with assets (e.g., savings, CDs, brokerage accounts) that can be used to purchase OneAmerica Freedom Builder</li>
            </ul>
        </td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;">&nbsp;</th>
        <td>&nbsp;</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Most Beneficial Rate</strong></th>
        <td>Contract index date within 60 days after the application date. The contract will be given the greater of the cap/participation rate on the index date or the rate in effect for contracts issued on the application date.</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Guarantees</strong></td>
        <td>
            <ul>
                <li>1-year fixed account guarantee period</li>

                <li>Minimum cap guarantee (may vary by state)</li>

                <li>Minimum guaranteed surrender value: 90% of premiums accumulated at 1% annual interest compounded daily</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Death Benefit</strong></td>
        <td>Full account value with no indexed account interest is credited for the current year; fixed account interest is credited</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Annuitization Options</strong></td>
        <td>
            <ul>
                <li>Life</li>

                <li>Joint and survivor</li>

                <li>Life only</li>

                <li>Life with period certain</li>

                <li>Fixed period</li>

                <li>Life with installment refund</li>
            </ul>
        </td>
    </tr>

    </tbody></table>

    <p dir="ltr"><strong>Note:</strong> All guarantees are subject to the claims-paying ability of American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <p dir="ltr">Freedom Builder annuity riders are features your clients can add to:</p>

    <ul dir="ltr">
        <li>Improve flexibility and efficiency of policy values</li>

        <li>Waive withdrawal charges due to long-term care or terminal illness</li>
    </ul>

    <h2 dir="ltr">Improve Flexibility and Efficiency of Policy Values</h2>

    <hr dir="ltr">
    <h3 dir="ltr">All Freedom Builder Options</h3>

    <h4 dir="ltr">Freedom Builder Plus</h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <th style=" text-align: left;"><strong>Description</strong></th>
        <td>
            <p>Freedom Builder Plus gives clients the security of guaranteed annual growth of 5 percent simple interest for 10 years to an Income Base that can be used to determine their income payments. Freedom Builder Plus also adapts to changes in the interest rate environment. Based on the 10-year U.S. Treasury rate, if rates have changed by the time they begin their lifetime income payments, a guaranteed Index Multiplier will increase their income payment.</p>

            <p><strong>Note</strong>: Freedom Builder Plus is the marketing name for Freedom Builder with the Indexed Guaranteed Income Rider.</p>
        </td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Rider Form Number</strong></th>
        <td>LR-236, ICC15 LR-236</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Sample Rider Page</strong></th>
        <td><u>Access a sample Freedom Builder Plus rider page</u>.<img alt="" border="0" height="27" src="file:///C:/Users/I115JAT/AppData/Local/Temp/pdf_4359076648217513828.png" title="" width="27"></td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Issue Ages</strong></th>
        <td>
            <ul>
                <li>0–90 on the 5- and 7-year surrender charge products</li>

                <li>0–85 on the 9-year surrender charge product</li>
            </ul>
        </td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Rider Restrictions</strong></th>
        <td>None</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Rider Charge</strong></td>
        <td>0.45% annually</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Available After Issue?</strong></td>
        <td>No</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Cancellable?</strong></td>
        <td>Yes</td>
    </tr>

    </tbody></table>

    <hr dir="ltr">
    <h3 dir="ltr">All Freedom Builder Options</h3>

    <h4 dir="ltr">Freedom Builder Plus</h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <th style=" text-align: left;"><strong>Description</strong></th>
        <td>A 2 percent premium bonus is a standard feature on the OneAmerica<sup>®</sup> Freedom Builder nine-year withdrawal charge product. This bonus is applied to all premium payments made during the first year of the contract and can increase the account value to give clients a jump start toward their financial goals.</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Rider Form Number</strong></th>
        <td>LR-226B</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Sample Rider Page</strong></th>
        <td><u>Access a sample Freedom Builder Plus rider page</u>.<img alt="" border="0" height="27" src="file:///C:/Users/I115JAT/AppData/Local/Temp/pdf_4359076648217513828.png" title="" width="27"></td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Issue Ages</strong></th>
        <td>0–85</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Rider Restrictions</strong></th>
        <td>None</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Rider Charge</strong></td>
        <td>N/A</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Available After Issue?</strong></td>
        <td>N/A</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Cancellable?</strong></td>
        <td>N/A</td>
    </tr>

    </tbody></table>

    <p dir="ltr">&nbsp;</p>

    <h4 dir="ltr">Vesting Schedule with Premium Bonus</h4>

    <hr dir="ltr">
    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <th style=" text-align: left;"><strong>Premium Year</strong></th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9+</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Percent Vested</strong></th>
        <td>0</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td>40</td>
        <td>50</td>
        <td>60</td>
        <td>70</td>
        <td>80</td>
    </tr>

    </tbody></table>

    <p dir="ltr">&nbsp;</p>

    <h2 dir="ltr">Waive Withdrawal Charges</h2>

    <hr dir="ltr">
    <h3 dir="ltr">All Freedom Builder Options</h3>

    <h4 dir="ltr"><strong>Waiver of Contract Withdrawal Charges for Long-Term Care Facility and Terminal Illness Benefit Rider</strong></h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <th style=" text-align: left;"><strong>Description</strong></th>
        <td>The unexpected can happen – including a terminal illness or a need for long-term care. Your clients can have withdrawal charges waived above the 10 percent penalty free withdrawal if the contract owner meets one of the following conditions: (1) requires long-term care for at least 30 continuous days and/or is confined to a hospital for at least 30 continuous days after contract issue or (2) is diagnosed with a terminal illness after the contract date and has a life expectancy of less than 12 months. The contract owner will need to provide a physician’s statement certifying a terminal illness.</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Rider Form Number</strong></th>
        <td>LR-172</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Sample Rider Page</strong></th>
        <td><u>Access a sample Waiver of Contract Withdrawal Charges for LTC Facility and Terminal Illness Benefit rider page</u>.<img alt="" border="0" height="27" src="file:///C:/Users/I115JAT/AppData/Local/Temp/pdf_4359076648217513828.png" title="" width="27"></td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Issue Ages</strong></th>
        <td>0-85</td>
    </tr>

    <tr role="row">
        <th style=" text-align: left;"><strong>Rider Restrictions</strong></th>
        <td>None</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Rider Charge</strong></td>
        <td>None</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Available After Issue?</strong></td>
        <td>N/A. Rider is automatically included with each Freedom Builder contract.</td>
    </tr>

    <tr>
        <td style=" text-align: left;"><strong>Cancellable?</strong></td>
        <td>N/A</td>
    </tr>

    </tbody></table>

    <p dir="ltr"><strong>Note:</strong> Guarantees are subject to the continued claims-paying ability of American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <p dir="ltr">All riders are subject to the limitations described in the rider pages, state availability and state variations.</p>

    <p dir="ltr">Freedom Builder Plus Benefit Calculator&nbsp;</p>

    <p dir="ltr">You can input data to reflect the guaranteed annual growth in income payments your clients can experience with the Freedom Builder Plus Rider.&nbsp;</p>

    <p dir="ltr">If you have any questions, please contact the Sales Desk at 1-877-999-9883.&nbsp;</p>

    <p dir="ltr"><a href="https://www.ols.oneamerica.com/calc/index.html">Access the Benefit Calculator.</a></p>

    <p dir="ltr">The Summit Bonus Index<sup>SM</sup> annuity has an optional Guaranteed Lifetime Withdrawal benefit rider. This calculator will help you determine how the Summit Bonus Index Income Rider functions to provide a lifetime annual income at various ages, based on criteria you enter.&nbsp;</p>

    <p dir="ltr">After your initial information has been added to the fields, press calculate and then follow the step buttons on the left hand side. These steps will guide you through your annuity in more detail.&nbsp;</p>

    <p dir="ltr">Freedom Builder Plus gives clients the security of guaranteed annual growth of 5 percent simple interest for 10 years to an Income Base that can be used to determine their income payments. Freedom Builder Plus also adapts to changes in the interest rate environment. Based on the 10-year U.S. Treasury rate, if rates have changed by the time they begin their lifetime income payments, a guaranteed Index Multiplier will increase their income payment.&nbsp;</p>

    <p dir="ltr"><strong>Note:</strong> Freedom Builder Plus is the marketing name for Freedom Builder with the Indexed Guaranteed Income Rider.</p>


    <hr>

    <p><strong>Note</strong><br>
        Not a deposit • Not FDIC or NCUSIF insured • Not guaranteed by the institution • Not insured by any federal government agency • May go down in value</p>

    <p>OneAmerica is the marketing name for American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <p>Products are issued and underwritten by AUL, Indianapolis, IN, a OneAmerica company. Freedom Builder policy form number series: LA-32. May not be available in all states and may vary by state.</p>

    <p>Provided content is for overview and informational purposes only and is not intended as tax, legal, fiduciary or investment advice.</p>


</div>