<div class="page-header">
<h1>Fiduciary E-newsletter Archive</h1>
</div>

<div class="clearfix">








</div>


<h2>2017</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td>June 8, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=c4563324dae91467637dd30a88418b79d68c4e6d6cf6401862ba89a6b2b5778738b987aa3f0dfc2eac7d7e914f16256bbdc397a663fa2d26833b720b8e32b4ea37e11edd61ab5b0cad260b002710e958" >Fiduciary Rule Update: New Forms Available</a></td>
</tr>

<tr role="row">
<td>June 2, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=3e921ef7d5e78b4cc26cd85e5f8deb3223b5315622f76462bd4c02c3b7d09cd9278831d324a4f0e766a8e38c0d2ca8f013997e942293905e4c9313d4ed2719d1e70cdbe9b9ee8b4cb7eed10d9768b2d2" >OneAmerica Fiduciary Rule Update</a></td>
</tr>

<tr role="row">
<td>April 5, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=f9dd6c94e513631fffb5a4701cbbcd119672e09209f2e16e3ee8c0f422db9b6a4effa34e870ddf1430503bcdbdb1e218d5abac80e26b10d8ba21959cf0390ffe4dbf4cc1f7b6c22e" >Fiduciary Update: Several Changes Suspended</a></td>
</tr>

<tr role="row">
<td>March 13, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=4bbfef4ed9f09703f649ac7dff6c56ee137eecd784187f3ca959967f4b832e8fa36f7ee2b7d2b0bd5f945bc120d7a89ef35b104ef1bfb89d75f230dca8c4b55e762aef56d25ed37c" >Strategic Changes</a></td>
</tr>

</tbody></table>

<h2>2016</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td>Nov. 17, 2016</td>
<td><a href="http://view.statelife.oneamericaemailservices.com/?qs=1ac97b19e67186a0cfc524b6375bc70f245c2ff5cbf7166ae8e6b0d6154a3f06c25ab8504f23ab442d4737ae0afc599cce898da1d1989488bbc1c0ade51dab53e4e2b09e3ca95a7d" >How Does the Election Affect the Fiduciary Rule?</a></td>
</tr>

</tbody></table>


<hr>


<div class="modal fade" id="wcmModal" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>

<div class="modal help-modal fade" id="wcmModalLarge" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>

<div class="modal help-modal fade" id="wcmModalXLarge" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog modal-auto" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>