<div class="page-content">

    <div class="wcmContent">


        <h3>Foreign Travel</h3>

        <div class="table-responsive">
            <p>Do you contemplate travel or residence in a foreign country within the next 24
                months?” More applicants are checking yes to this question on life applications.
                Reasons for foreign travel vary: golfing in Indonesia, studying abroad, traveling to
                third world countries to adopt, sponsoring mission trips – the list goes on.</p>
            <p>Every country presents different risk factors; therefore, a complete listing of
                anticipated underwriting classifications based on travel to every country is not
                possible. However, a broad description of various travel situations may help you
                anticipate Underwriting’s handling of your client’s application.</p>
            <p>A few states prohibit adverse underwriting action based on past and/or future lawful
                travel.</p>
            <h3>No Adverse Action Based on Past Lawful Travel</h3>
            <p>The following states do not allow adverse underwriting action based on past lawful
                travel. Underwriting will assess cases in these states based on future travel
                plans:</p>
            <ul>
                <li>Maryland<br>
                </li>

                <li>New York</li>
            </ul>
            <h3>No Adverse Action Based on Past or Future Lawful Travel</h3>
            <p>Nine states generally prohibit adverse underwriting based on past or future lawful
                travel:</p>
            <ul>
                <li>California</li>

                <li>Connecticut</li>

                <li>Colorado</li>

                <li>Florida</li>

                <li>Illinois</li>

                <li>Massachusetts</li>

                <li>Missouri</li>

                <li>Tennessee</li>

                <li>Washington</li>
            </ul>
            <p>Underwriting may consider foreign travel in the above states if such action can be
                substantiated by statistical data and/or actual or reasonable expected
                experience.</p>
            <h3>No Adverse Action Based on Future Lawful Travel</h3>
            <p>New Jersey does not allow adverse underwriting action based on future lawful
                travel.</p>
            <h3>Foreign Nationals or Foreign Travel Supplement</h3>
            <p>The Foreign Nationals or Foreign Travel Supplement should be completed and submitted
                for applicants who:<br>
                Traveled out of the country in the past two years and/or<br>
                Plan to travel out of the country within the next year</p>
            <p>You can access the Foreign Nationals or Foreign Travel Supplement (7-15983 or
                variation) at OneSource Online &gt; Quicklinks &gt; Forms.</p>
            <table role="grid" class="data-table table table-striped table-bordered table-hover">
                <tbody>


                </tbody>
            </table>
        </div>

        <div class="row table-responsive-instruction">
            <div class="col-xs-12 align-center"><i
                    class="ace-icon fa fa-hand-o-right inline gray-60"></i>
                <p class="text-info inline">swipe/scroll to view entire table</p>
                <i class="ace-icon fa fa-hand-o-left inline gray-60"></i></div>
        </div>
    </div>
</div>