
<div class="main-content">
    <div class="main-content-inner"> 
        <!--<div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="#" >Home</a> > Page Name </li>
            </ul>
            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i> </span>
                </form>
            </div> 
        </div>--> 
        <!-- / .breadcrumbs -->


<div class="page-content">
<div class="page-header">
<h1>Contact List Care Solutions</h1>
</div>

<address>  
<p dir="ltr"><strong>Sales Desk</strong></p>

<p dir="ltr">Please contact us for sales support in illustrating, writing, and submitting business to OneAmerica, and to obtain information for servicing your existing clients. Our goal is to provide you the best customer service.</p>

<div class="row" dir="ltr">
<div class="col-md-6">
<address><strong>Care Solutions Sales Desk</strong><br />
Policies serviced by The State Life Insurance Company<sup>®</sup> (State Life)<br />
<a href="mailto:quotes.ind@oneamerica.com" >Email Care Solutions Sales Desk</a><br />
<a href="tel:+1-800-275-5101">1 (800) 275-5101</a>, Monday - Friday, 8 a.m. - 6 p.m. ET</address>
</div>

<div class="col-md-6">
<address><strong>Retail and Independent Brokerage Sales Desk</strong><br />
Policies serviced by American United Life Insurance Company<sup>®</sup> (AUL) and Pioneer Mutual Life Insurance Company<sup>®</sup> (PML)<br />
<a href="mailto:oasalesdesk@oneamerica.com" >Email OneAmerica Sales Desk</a><br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a>, Monday - Friday, 8 a.m. - 6 p.m. ET</address>

</div>
</div>

</address>

<div class="alert alert-message alert-info">
<p dir="ltr"><strong>Use the <a href="https://www.secure-oneamerica.com/s/login?b=oafp" >ZixMail</a> secure network to email confidential information</strong> such as social security numbers. First-time user? <a href="http://image.aulind.oneamericaemailservices.com/lib/fefe1c74756104/m/1/050916_ZixMail+secure+emails.pdf" >Get details about ZixMail.</a></p>

</div>

<div class="accordion-style1 panel-group accordion-style2"><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapse1"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Advanced Sales</a></h4>

</div>

<div class="collapse" id="collapse1" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">Our Advanced Sales team can help you address your clients’ complex financial needs. The team can provide you with the tools and resources to help you conduct business in advanced markets:</p>

<ul dir="ltr">
<li>Fact-finding and needs evaluation</li>

<li>Assistance with technical and legal problems related to business and estate analysis</li>

<li>Software, sales tools and programs</li>

<li>Continuing education</li>
</ul>

<hr />
<p>&#160;</p>



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>David Gresham</strong><br />
Manager<br />
Advanced Sales Advanced Markets Analysis<br />
<a href="tel+1-317-285-1714">1 (317) 285-1714</a><br />
<a href="mailto:david.gresham@oneamerica.com" >Email David Gresham</a></address>
</div>

<div class="col-md-4">
<address><strong>Greg Purvis</strong><br />
Assistant Vice President<br />
Advanced Sales Market Development<br />
<a href="tel+1-317-285-1763">1 (317) 285-1763</a><br />
<a href="mailto:greg.purvis@oneamerica.com" >Email Greg Purvis</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsenine"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Agency Development - Retail </a></h4>

</div>

<div class="collapse" id="collapsenine" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">[Content coming soon]</p>

<hr />
<p>&#160;</p>



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Josh Hauser</strong><br />
Vice President and Chief Agency Officer<br />
<a href="tel:+1-317-285-2649">1 (317) 285-2649</a><br />
<a href="mailto:josh.hauser@oneamerica.com" >Email Josh Hauser</a></address>
</div>

<div class="col-md-4" dir="ltr">
<address><strong>Jeff Malicki</strong><br />
Agency Vice President<br />
Agency Distribution<br />
Western Region<br />
<a href="tel:+1-317-285-2554">1 (317) 285-2554</a><br />
<a href="mailto:jeff.malicki@oneamerica.com" >Email Jeff Malicki</a></address>
</div>

<div class="col-md-4">
<address><strong>Jeff Smith</strong><br />
Vice President<br />
Agency and Sales Development<br />
<a href="tel:+1-317-285-2677">1 (317) 285-2677</a><br />
<a href="mailto:jeffrey.smith@oneamerica.com" >Email Jeff Smith</a></address>
</div>
</div>

<h3 dir="ltr">Sales Development</h3>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Clay Summers</strong><br />
Field Vice President<br />
<a href="tel:+1-317-285-1152">1 (317) 285-1152</a><br />
<a href="mailto:clay.summers@oneamerica.com" >Email Clay Summers</a></address>
</div>

<div class="col-md-4" dir="ltr">
<address><strong>Andy Bunce</strong><br />
Assistant Vice President<br />
Eastern Region<br />
<a href="tel:+1-405-509-0598">1 (405) 509-0598</a><br />
<a href="mailto:andy.bunce@oneamerica.com" >Email Andy Bunce</a></address>
</div>

<div class="col-md-4" dir="ltr">
<address><strong>John Pruitt</strong><br />
Field Sales Development Director<br />
Western Region<br />
<a href="tel:+1-480-797-5787">1 (480) 797-5787</a><br />
<a href="mailto:john.pruitt@oneamerica.com" >Email John Pruitt</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Josh Freeman</strong><br />
Field Sales Development Director<br />
Central Region<br />
<a href="tel:+1-612-964-9007">1 (612) 964-9007</a><br />
<a href="mailto:josh.freeman@oneamerica.com" >Email Josh Freeman</a></address>
</div>

<div class="col-md-4" dir="ltr">
<address><strong>Kelly Crosse</strong><br />
Field Sales Development Director<br />
Central Region<br />
<a href="tel:+1-860-655-9725">1 (860) 655-9725</a><br />
<a href="mailto:kelly.crosse@oneamerica.com" >Email Kelly Crosse</a></address>
</div>
</div>

<h3 dir="ltr">Wealth In Motion</h3>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Glenn Balsamo</strong><br />
Director<br />
<a href="tel:+1-317-285-4726">1 (317) 285-4726</a><br />
<a href="mailto:glenn.balsamo@oneamerica.com" >Email Glenn Balsamo</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsethree"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Business and Product Development</a></h4>

</div>

<div class="collapse" id="collapsethree" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">You have access to quality products and services to help clients protect today and prepare for tomorrow. Our product line-up includes industry leading asset-based long-term care products and a full suite of life insurance and annuity products.</p>

<hr>


<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Bruce Moon</strong><br />
Vice President<br />
Product Management<br />
<a href="tel+1-317-285-4562">1 (317) 285-4562</a><br />
<a href="mailto:bruce.moon@oneamerica.com" >Email Bruce Moon</a></address>
</div>

<div class="col-md-4">
<address><strong>Denise Young</strong><br />
Senior Administrative Assistant<br />
Administrative Services<br />
<a href="tel+1-317-285-2670">1 (317) 285-2670</a><br />
<a href="mailto:denise.young@oneamerica.com" >Email Denise Young</a></address>
</div>

<div class="col-md-4">
<address><strong>Dennis Martin</strong><br />
Senior Vice President and Product Development Officer<br />
<a href="tel+1-317-285-2672">1 (317) 285-2672</a><br />
<a href="mailto:dennis.martin@oneamerica.com" >Email Dennis Martin</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Jeff Drake</strong><br />
Vice President<br />
Senior Product Advisor<br />
<a href="tel+1-317-285-4555">1 (317) 285-4555</a><br />
<a href="mailto:jeff.drake@oneamerica.com" >Email Jeff Drake</a></address>
</div>

<div class="col-md-4">
<address><strong>Steve Cox</strong><br />
Vice President<br />
Pricing and Product Development<br />
<a href="tel+1-317-285-1960">1 (317) 285-1960</a><br />
<a href="mailto:steve.cox@oneamerica.com" >Email Steve Cox</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsefour"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Care Solutions - Primary Contacts</a></h4>

</div>

<div class="collapse" id="collapsefour" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">Contact us for quality service for our asset-based long-term care products.</p>

<hr>



<h3 dir="ltr">New Business</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Rachel Headley</strong><br />
Director<br />
<a href="tel:+1-317-285-4895">1 (317) 285-4895</a><br />
<a href="mailto:rachel.headley@oneamerica.com" >Email Rachel Headley</a></address>
</div>
</div>

<h3 dir="ltr">Regional Support</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Ken Herlihy</strong><br />
Regional Marketing Director<br />
Western Region<br />
<a href="tel:+1-800-989-1105">1 (800) 989-1105</a><br />
<a href="mailto:ken.herlihy@oneamerica.com" >Email Ken Herlihy</a></address>
</div>

<div class="col-md-4">
<address><strong>Trish Morton</strong><br />
Regional Marketing Director<br />
Eastern Region<br />
<a href="tel:+1-317-502-2773">1 (317) 502-2773</a><br />
<a href="mailto:trish.morton@oneamerica.com" >Email Trish Morton</a></address>
</div>
</div>

<h3 dir="ltr">Sales Desk</h3>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Brian Kendall</strong><br />
Director<br />
<a href="tel:+1-317-285-7564">1 (317) 285-7564</a><br />
<a href="mailto:brian.kendall@oneamerica.com" >Email Brian Kendall</a></address>
</div>

<div class="col-md-4">
<address><strong>Kevin Jenkins</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-5995">1 (317) 285-5995</a><br />
<a href="mailto:kevin.jenkins@oneamerica.com" >Email Kevin Jenkins</a></address>
</div>
</div>

<h3 dir="ltr">Underwriting</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Diana Cole</strong><br />
Manager<br />
Underwriting Support<br />
<a href="tel:+1-317-285-2310">1 (317) 285-2310</a><br />
<a href="mailto:diana.cole@oneamerica.com" >Email Diana Cole</a></address>
</div>

<div class="col-md-4">
<address><strong>Diane Carpenter</strong><br />
Director<br />
Underwriting<br />
<a href="tel:+1-317-285-7278">1 (317) 285-7278</a><br />
<a href="mailto:diane.carpenter@oneamerica.com" >Email Diane Carpenter</a></address>
</div>

<div class="col-md-4">
<address><strong>Susie Sughrue</strong><br />
Vice President<br />
Underwriting<br />
<a href="tel:+1-317-285-7755">1 (317) 285-7755</a><br />
<a href="mailto:susie.sughrue@oneamerica.com" >Email Susie Sughrue</a></address>
</div>
</div>

<h3 dir="ltr">Wholesalers</h3>

<div class="row">
<div class="col-md-4">
<address><strong>Chris Huntsman</strong><br />
Senior Development Wholesaler<br />
Eastern and Central Regions<br />
<a href="tel:+1-855-279-6372">1 (855) 279-6372</a><br />
<a href="mailto:chris.huntsman@oneamerica.com" >Email Chris Huntsman</a></address>
</div>

<div class="col-md-4">
<address><strong>Daniel Kim</strong><br />
Development Wholesaler<br />
Western Region<br />
<a href="tel:+1-855-279-6373">1 (855) 279-6373</a><br />
<a href="mailto:daniel.kim@oneamerica.com" >Email Daniel Kim</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapseseven"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Compliance and Legal</a></h4>

</div>

<div class="collapse" id="collapseseven" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">We set and communicate guidelines to help you adhere to industry regulations as you serve your clients.</p>

<hr dir="ltr" />



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Debbie Eversole</strong><br />
Assistant Vice President<br />
Corporate Compliance<br />
<a href="tel:+1-317-285-1648">1 (317) 285-1648</a><br />
<a href="mailto:debbie.eversole@oneamerica.com" >Email Debbie Eversole</a></address>
</div>

<div class="col-md-4">
<address><strong>Jay Williams</strong><br />
Chief Compliance Officer<br />
<a href="tel:+1-317-285-1186">1 (317) 285-1186</a><br />
<a href="mailto:jay.williams@oneamerica.com" >Email Jay Williams</a></address>
</div>

<div class="col-md-4">
<address><strong>Karen Crooks</strong><br />
Director<br />
Product Compliance<br />
<a href="tel+1-317-285-1288">1 (317) 285-1288</a><br />
<a href="mailto:karen.crooks@oneamerica.com" >Email Karen Crooks</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Sue Wilson</strong><br />
Manager<br />
Compliance Services<br />
<a href="tel:+1-317-285-2515">1 (317) 285-2515</a><br />
<a href="mailto:sue.wilson@oneamerica.com" >Email Sue Wilson</a></address>
</div>

<div class="col-md-4">
<address><strong>Tony Jones</strong><br />
Manager<br />
Advertising Review<br />
<a href="tel:+1-317-285-4704">1 (317) 285-4704</a><br />
<a href="mailto:tony.jones@oneamerica.com" >Email Tony Jones</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapseeight"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Contracting and Licensing</a></h4>

</div>

<div class="collapse" id="collapseeight" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">We support and address your questions about:</p>

<ul dir="ltr">
<li>Producer contracting</li>

<li>Onboarding</li>

<li>Agent maintenance (address changes, hierarchy changes, etc.)</li>

<li>Agent of record changes</li>

<li>Agent terminations</li>
</ul>

<h3>Applying for or Renewing a License</h3>

<p>Visit <a href="http://www.sircon.com" >www.sircon.com</a> or <a href="http://www.nipr.com" >www.nipr.com</a> to apply for a nonresident license or to renew a license. After a license is issued, an appointment may be requested by faxing the licensing copy to (317)-285-5242 for Care Solutions or (317) 285-5241 for Retail and Independent Brokerage.</p>

<h3>Retail and Independent Brokerage Only</h3>

<h4>Errors and Omissions-Related Questions</h4>

<p>Contact AON at 1-800-621-0711 for E&#38;O related questions.</p>

<h3>Retail Only</h3>

<h4>Benefit-Related Questions</h4>

<p>Contact the <a href="mailto:hrservicecenter@oneamerica.com" >Human Resources Service Center</a> at (317) 285-2363.</p>

<hr />
<p>&#160;</p>




<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Ayanna Owens</strong><br />
Licensing Administrator I<br />
Supporting Retail preferred brokers, Retail Draw program and Independent Brokerage<br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a><br />
<a href="mailto:individualcontracting.ind@oneamerica.com" >Email Individual Contracting</a></address>
</div>

<div class="col-md-4">
<address><strong>Brandon Bennett</strong><br />
Manager<br />
Supporting Retail and Independent Brokerage<br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a><br />
<a href="mailto:individualcontracting.ind@oneamerica.com" >Email Individual Contracting</a></address>
</div>

<div class="col-md-4">
<address><strong>Gina Geter</strong><br />
Manager<br />
Supporting Care Solutions<br />
<a href="tel:+1-800-275-5101">1 (800) 275-5101</a><br />
<a href="mailto:licensing.corpfin@oneamerica.com" >Email Care Solutions Licensing</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Jasmine Pope</strong><br />
Team Leader<br />
Supporting Care Solutions<br />
<a href="tel:+1-800-275-5101">1 (800) 275-5101</a><br />
<a href="mailto:licensing.corpfin@oneamerica.com" >Email Care Solutions Licensing</a></address>
</div>

<div class="col-md-4">
<address><strong>Peggy McCoy</strong><br />
Senior Licensing Administrator<br />
Supporting Retail and Independent Brokerage<br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a><br />
<a href="mailto:individualcontracting.ind@oneamerica.com" >Email Individual Contracting</a></address>
</div>

<div class="col-md-4">
<address><strong>Robert Hoff</strong><br />
Licensing Administrator II<br />
Supporting Retail preferred brokers, Retail Draw program and Independent Brokerage<br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a><br />
<a href="mailto:individualcontracting.ind@oneamerica.com" >Email Individual Contracting</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Sandy Dougherty</strong><br />
Assistant Vice President<br />
Supporting Care Solutions, Retail and Independent Brokerage<br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a><br />
<a href="mailto:individualcontracting.ind@oneamerica.com" >Email Individual Contracting</a></address>

<address><a href="mailto:licensing.corpfin@oneamerica.com" >Email Care Solutions Licensing</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapseten"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Distribution Support - Independent Brokerage</a></h4>

</div>

<div class="collapse" id="collapseten" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">Get the ongoing service you need from an experienced Independent Brokerage staff:</p>

<ul dir="ltr">
<li>Timely and accurate communications</li>

<li>Producer education and training through the Center of Excellence</li>

<li>Sales ideas and tools to help elevate your business</li>

<li>Marketing campaigns</li>

<li>Economics-based strategies</li>

<li>Technical support</li>
</ul>

<hr dir="ltr" />
<p dir="ltr">&#160;</p>



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>David Foley</strong><br />
Regional Vice President<br />
Western Region<br />
<a href="tel:+1-317-285-7272">1 (317) 285-7272</a><br />
<a href="mailto:david.foley@oneamerica.com" >Email David Foley</a></address>
</div>

<div class="col-md-4">
<address><strong>Doug Gritton</strong><br />
Vice President<br />
Independent Brokerage<br />
<a href="tel:+1-317-285-1910">1 (317) 285-1910</a><br />
<a href="mailto:doug.gritton@oneamerica.com" >Email Doug Gritton</a></address>
</div>

<div class="col-md-4">
<address><strong>Mark Luttner</strong><br />
Regional Vice President<br />
Eastern Region<br />
<a href="tel:+1-317-285-7274">1 (317) 285-7274</a><br />
<a href="mailto:mark.luttner@oneamerica.com" >Email Mark Luttner</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Nikki Dipple</strong><br />
Field Director<br />
Producer Relations<br />
<a href="tel:+1-317-285-7250">1 (317) 285-7250</a><br />
<a href="mailto:nikki.dipple@oneamerica.com" >Email Nikki Dipple</a></address>
</div>

<div class="col-md-4">
<address><strong>Tina Quintana</strong><br />
Senior Administrative Assistant<br />
Administrative Services<br />
<a href="tel:+1-317-285-1911">1 (317) 285-1911</a><br />
<a href="mailto:tina.quintana@oneamerica.com" >Email Tina Quintana</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapseeleven"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Employee Benefits</a></h4>

</div>

<div class="collapse" id="collapseeleven" aria-expanded="false">


<div class="panel-body">

<p dir="ltr">You want to help employers achieve their operational, financial and recruitment/retention targets, and employers want to make sure employees have positive experiences. Through American United Life Insurance Company<sup>® </sup>(AUL), a OneAmerica company, you’ll have a reliable and proven leader by your side — sharing your goal to build trusted relationships with employers and their employees.</p>

<p dir="ltr">We offer comprehensive employee benefits products.</p>

<hr />
<p>&#160;</p>



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Content coming soon</strong><br />
</address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsetwelve"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Marketing and Sales Support</a></h4>

</div>

<div class="collapse" id="collapsetwelve" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">Get the ongoing support you need from an experienced staff:</p>

<ul dir="ltr">
<li>Timely and accurate communications</li>

<li>Producer education and training with the Center of Excellence</li>

<li>Sales ideas and tools to help elevate your business</li>

<li>Marketing campaigns</li>

<li>Economics-based strategies</li>

<li>Technical support</li>
</ul>

<hr dir="ltr" />
<p>&#160;</p>




<h3 dir="ltr">Business Cards and Stationery</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Jill Wangler</strong><br />
Director<br />
Digital Marketing<br />
<a href="tel:+1-317-285-1825">1 (317) 285-1825</a><br />
<a href="mailto:jill.wangler@oneamerica.com" >Email Jill Wangler</a></address>
</div>

<div class="col-md-4">
<address><strong>Marnie Curl</strong><br />
Support Analyst<br />
Sales Support<br />
<a href="tel:+1-317-285-7833">1 (317) 285-7833</a><br />
<a href="mailto:marnie.curl@oneamerica.com" >Email Marnie Curl</a></address>
</div>
</div>

<h3 dir="ltr">Center of Excellence</h3>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Bryan Todd</strong><br />
Field Director<br />
<a href="tel:+1-317-285-2239">1 (317) 285-2239</a><br />
<a href="mailto:bryan.todd@oneamerica.com" >Email Bryan Todd</a></address>
</div>

<div class="col-md-4" dir="ltr">
<address><strong>Marnie Curl</strong><br />
Support Analyst<br />
Sales Support<br />
<a href="tel:+1-317-285-7833">1 (317) 285-7833</a><br />
<a href="mailto:marnie.curl@oneamerica.com" >Email Marnie Curl</a></address>
</div>

<div class="col-md-4" dir="ltr">
<address><strong>Katrina Shobe</strong><br />
Support Analyst<br />
Sales Support<br />
<a href="tel:+1-317-285-7834">1 (317) 285-7834</a><br />
<a href="mailto:katrina.shobe@oneamerica.com" >Email Katrina Shobe</a></address>
</div>
</div>

<h3 dir="ltr">Leadership Development for Retail General Agencies</h3>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Mark Moss</strong><br />
Field Director<br />
Leadership Development<br />
<a href="tel:+1-317-285-2237">1 (317) 285-2237</a><br />
<a href="mailto:mark.moss@oneamerica.com" >Email Mark Moss</a></address>
</div>
</div>

<h3 dir="ltr">Marketing</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Amanda Stevenson-Holmes</strong><br />
Director<br />
Marketing and Sales<br />
Communications<br />
<a href="tel:+1-317-285-1445">1 (317) 285-1445</a><br />
<a href="mailto:amanda.stevensonholmes@oneamerica.com" >Email Amanda Stevenson-Holmes</a></address>
</div>

<div class="col-md-4">
<address><strong>Danielle Marsh</strong><br />
Vice President<br />
Marketing<br />
<a href="tel:+1-317-285-1464">1 (317) 285-1464</a><br />
<a href="mailto:danielle.marsh@oneamerica.com" >Email Danielle Marsh</a></address>
</div>

<div class="col-md-4">
<address><strong>Jill Wangler</strong><br />
Director<br />
Digital Marketing<br />
<a href="tel:+1-317-285-1825">1 (317) 285-1825</a><br />
<a href="mailto:jill.wangler@oneamerica.com" >Email Jill Wangler</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Ryan Berry</strong><br />
Director<br />
Product Marketing<br />
<a href="tel:+1-317-285-4915">1 (317) 285-4915</a><br />
<a href="mailto:ryan.berry@oneamerica.com" >Email Ryan Berry</a></address>
</div>
</div>

<h3 dir="ltr">Sales Support</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Cheryl Gentry</strong><br />
Vice President<br />
Sales Support<br />
<a href="tel:+1-317-285-1764">1 (317) 285-1764</a><br />
<a href="mailto:cheryl.gentry@oneamerica.com" >Email Cheryl Gentry</a></address>
</div>

<div class="col-md-4">
<address><strong>Michael Jacobson</strong><br />
Director<br />
Sales Support<br />
<a href="tel:+1-317-285-1003">1 (317) 285-1003</a><br />
<a href="mailto:michael.jacobson@oneamerica.com" >Email Michael Jacobson</a></address>
</div>

<div class="col-md-4">
<address><strong>Natalee Fuller</strong><br />
Director<br />
Marketing<br />
<a href="tel:+1-317-285-2495">1 (317) 285-2495</a><br />
<a href="mailto:natalee.fuller@oneamerica.com" >Email Natalee Fuller</a></address>
</div>
</div>

<h3 dir="ltr">Technical Support</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Jan Oldham</strong><br />
Field Tech Support Coordinator<br />
Sales Support<br />
<a href="mailto:fieldtechsupport.ind@oneamerica.com" >Email Field Tech Support</a></address>
</div>

<div class="col-md-4">
<address><strong>Pam Williams</strong><br />
Field Tech Support Coordinator<br />
Sales Support<br />
<a href="mailto:fieldtechsupport.ind@oneamerica.com" >Email Field Tech Support</a></address>
</div>
</div>

<h3 dir="ltr">Senior Leader</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Mark Wutt</strong><br />
Vice President<br />
Marketing and Sales Support<br />
<a href="tel:+1-317-285-1431">1 (317) 285-1431</a><br />
<a href="mailto:mark.wutt@oneamerica.com" >Email Mark Wutt</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsefourteen"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

OneAmerica Securities, Inc.</a></h4>

</div>

<div class="collapse" id="collapsefourteen" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">Get support from a full-service broker/dealer and registered investment advisor. OneAmerica Securities offers:</p>

<ul dir="ltr">
	<li>Stock and bond trading</li>
	<li>Mutual funds</li>
	<li>Fee-based asset management</li>
	<li>Fee-based financial planning</li>
</ul>

<hr>



<h3 dir="ltr">Business Technology</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Tony Smart</strong><br />
Vice President<br />
<a href="tel:+1-317-285-1106">1 (317) 285-1106</a><br />
<a href="mailto:tony.smart@oneamerica.com" >Email Tony Smart</a></address>
</div>
</div>

<h3 dir="ltr">Commissions</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Melissa Cox</strong><br />
Producer Compensation Representative II<br />
<a href="tel:+1-317-285-4007">1 (317) 285-4007</a><br />
<a href="mailto:melissa.cox@oneamerica.com" >Email Melissa Cox</a></address>
</div>
</div>

<h3 dir="ltr">New Business</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Chris Schwartz</strong><br />
New Business Processor<br />
<a href="tel:+1-317-285-1804">1 (317) 285-1804</a><br />
<a href="mailto:chris.schwartz@oneamerica.com" >Email Chris Schwartz</a></address>
</div>

<div class="col-md-4">
<address><strong>Ivan Christensen</strong><br />
New Business Processor II<br />
<a href="tel:+1-317-285-2129">1 (317) 285-2129</a><br />
<a href="mailto:ivan.christensen@oneamerica.com" >Email Ivan Christensen</a></address>
</div>

<div class="col-md-4">
<address><strong>Jason Truelove</strong><br />
New Business Processor<br />
<a href="tel:+1-317-285-2723">1 (317) 285-2723</a><br />
<a href="mailto:jason.truelove@oneamerica.com" >Email Jason Truelove</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Joanne Durham</strong><br />
New Business Processor<br />
<a href="tel:+1-317-285-4705">1 (317) 285-4705</a><br />
<a href="mailto:joanne.durham@oneamerica.com" >Email Joanne Durham</a></address>
</div>

<div class="col-md-4">
<address><strong>Nikki Foreman</strong><br />
New Business Processor<br />
<a href="tel:+1-317-285-2084">1 (317) 285-2084</a><br />
<a href="mailto:nikki.foreman@oneamerica.com" >Email Nikki Foreman</a></address>
</div>

<div class="col-md-4">
<address><strong>Sue Constable</strong><br />
New Business Processor<br />
<a href="tel:+1-317-285-2334">1 (317) 285-2334</a><br />
<a href="mailto:sue.constable@oneamerica.com" >Email Sue Constable</a></address>
</div>
</div>

<h3 dir="ltr">Operations</h3>

<div class="row">
<div class="col-md-4">
<address><strong>Amy Monroe</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-1784">1 (317) 285-1784</a><br />
<a href="mailto:amy.monroe@oneamerica.com" >Email Amy Monroe</a></address>
</div>

<div class="col-md-4">
<address><strong>Eric Smiley</strong><br />
Director<br />
<a href="tel:+1-317-285-1305">1 (317) 285-1305</a><br />
<a href="mailto:eric.smiley@oneamerica.com" >Email Eric Smiley</a></address>
</div>

<div class="col-md-4">
<address><strong>Josh Klein</strong><br />
Senior B/D Regulatory Associate<br />
<a href="tel:+1-317-285-2188">1 (317) 285-2188</a><br />
<a href="mailto:josh.klein@oneamerica.com" >Email Josh Klein</a></address>
</div>
</div>

<div class="row">
<div class="col-md-4">
<address><strong>Margaret Hiscock</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-2512">1 (317) 285-2512</a><br />
<a href="mailto:margaret.hiscook@oneamerica.com" >Email Margaret Hiscock</a></address>
</div>

<div class="col-md-4">
<address><strong>Therese Wojcik</strong><br />
Operations Analyst<br />
<a href="tel:+1-317-285-1791">1 (317) 285-1791</a><br />
<a href="mailto:therese.wojcik@oneamerica.com" >Email Therese Wojcik</a></address>
</div>
</div>

<h3 dir="ltr">Registered Investment Advisor</h3>

<div class="row">
<div class="col-md-4">
<address><strong>Brett Esselburn</strong><br />
Advisory Sales Manager<br />
<a href="tel:+1-317-285-1004">1 (317) 285-1004</a><br />
<a href="mailto:brett.esselburn@oneamerica.com" >Email Brett Esselburn</a></address>
</div>

<div class="col-md-4">
<address><strong>Kyle James</strong><br />
Associate Analyst<br />
<a href="tel:+1-317-285-4727">1 (317) 285-4727</a><br />
<a href="mailto:kyle.james@oneamerica.com" >Email Josh Klein</a></address>
</div>
</div>

<h3 dir="ltr">Sales Development</h3>

<div class="row" dir="ltr">
<div class="col-md-4" dir="ltr">
<address><strong>Davina Merrell</strong><br />
Sales Development Manager<br />
<a href="tel:+1-317-285-4701">1 (317) 285-4701</a><br />
<a href="mailto:davina.merrell@oneamerica.com" >Email Davina Merrell</a></address>
</div>

<div class="col-md-4">
<address><strong>Melissa Wendt</strong><br />
Sales Development Manager<br />
<a href="tel:+1-317-285-7005">1 (317) 285-7005</a><br />
<a href="mailto:melissa.wendt@oneamerica.com" >Email Melissa Wendt</a></address>
</div>
</div>

<h3 dir="ltr">Senior Leader</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Matt Fleetwood</strong><br />
President<br />
<a href="tel:+1-317-285-1106">1 (317) 285-1106</a><br />
<a href="mailto:matt.fleetwood@oneamerica.com" >Email Matt Fleetwood</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

 Overnight Address for All Departments</a></h4>

</div>

<div class="collapse" id="" aria-expanded="false">


<div class="panel-body">



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>The companies of OneAmerica</strong><br />
Attn: [Insert department name]<br />
250 W. North Street<br />
Indianapolis, IN 46202-3107</address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapseseventeen"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Policy Service</a></h4>

</div>

<div class="collapse" id="collapseseventeen" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">Access information on your block of business at <a href="www.ols.oneamerica.com">OneSource Online</a> &gt; My Business &gt; Inforce. Contact Policy Service for answers to your questions like:</p>

<ul dir="ltr">
	<li>What’s the policy maturity date?</li>
	<li>Who are the primary and secondary beneficiaries?</li>
</ul>

<p dir="ltr"><a href="https://www.oneamerica.com/contact-us/policy-service-request" >Use online forms</a> to start policy updates and requests.</p>

<hr dir="ltr" />
<p dir="ltr">&nbsp;</p>



<h3 dir="ltr">Client Contact Center</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Erma Bailey-Wilson&nbsp;</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-2211">1 (317) 285-2211</a><br />
<a href="mailto: erma.baileywilson@oneamerica.com" >Erma Bailey-Wilson</a></address>
</div>

<div class="col-md-4">
<address><strong>Jeremy Ballard&nbsp;</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-2207">1 (317) 285-2207</a><br />
<a href="mailto: jeremy.ballard@oneamerica.com" >Email Jeremy Ballard</a></address>
</div>
</div>

<h3 dir="ltr">Policy Services</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Karen Whitaker</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-2322">1 (317) 285-2322</a><br />
<a href="mailto: karen.whitaker@oneamerica.com" >Email Karen Whitaker</a></address>
</div>

<div class="col-md-4">
<address><strong>Rob Campbell&nbsp;</strong><br />
Director<br />
<a href="tel:+1-317-285-2210">1 (317) 285-2210</a><br />
<a href="mailto: rob.campbell@oneamerica.com" >Email Rob Campbell</a></address>
</div>

<div class="col-md-4">
<address><strong>Tommy Thomas&nbsp;</strong><br />
Supervisor<br />
<a href="tel:+1-317-285-2212">1 (317) 285-2212</a><br />
<a href="mailto: tommy.thomas@oneamerica.com" >Email Tommy Thomas</a></address>
</div>
</div>

<h3 dir="ltr">Senior Leader</h3>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Gregg Poston&nbsp;</strong><br />
Vice President<br />
<a href="tel:+1-317-285-2552">1 (317) 285-2552</a><br />
<a href="mailto: gregg.poston@oneamerica.com" >Email Gregg Poston</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsefive"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Producer Compensation</a></h4>

</div>

<div class="collapse" id="collapsefive" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">OneAmerica offers you every opportunity to succeed – rewarding your skills, hard work and commitment – each step of the way. We designed a competitive compensation package with you in mind.</p>

<p dir="ltr"><a href="mailto:producercomp.corpfin@oneamerica.com" >Email Producer Compensation</a> or contact a team member at <a href="tel:+1-877-999-9883">1 (877) 999-9883</a>, Opt. 5.</p>

<hr />
<p>&#160;</p>




<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Becky Weller</strong><br />
Senior Producer Compensation Representative<br />
Supporting Retail and Independent Brokerage: General questions, electronic funds transfers (EFT) set up, stipend, GA and AGA bonuses<br />
</address>
</div>

<div class="col-md-4">
<address><strong>Brandon Kirkman</strong><br />
Producer Compensation Representative II<br />
Supporting Care Solutions: Commissions, fees and statements<br />
</address>
</div>

<div class="col-md-4">
<address><strong>Helen Maupin</strong><br />
Producer Compensation Consultant<br />
Supporting Retail and Independent Brokerage: General questions<br />
</address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Kathy Byrd</strong><br />
Senior Producer Earnings Administrator<br />
Supporting Retail and Independent Brokerage: 1099s and W2s<br />
Supporting Care Solutions: 1099s<br />
</address>
</div>

<div class="col-md-4">
<address><strong>Monica Maxwell</strong><br />
Producer Compensation Representative II<br />
Supporting Retail and Independent Brokerage: Agent bonus, preferred brokers, Independent Brokerage, debt and chargebacks<br />
</address>
</div>

<div class="col-md-4">
<address><strong>Sandy Dougherty</strong><br />
Assistant Vice President<br />
Supporting Care Solutions, Retail and Independent Brokerage<br />
</address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Sky Schmidt</strong><br />
Manager<br />
Agency Reporting and Finance<br />
Supporting Care Solutions, Retail and Independent Brokerage<br />
</address>
</div>

<div class="col-md-4">
<address><strong>Shoshana Demers</strong><br />
Manager<br />
Supporting Retail and Independent Brokerage<br />
</address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapsesixteen"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Retirement Services</a></h4>

</div>

<div class="collapse" id="collapsesixteen" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">We offer retirement plans and services to businesses and employers of all shapes and sizes:</p>

<ul dir="ltr">
	<li>Strategically tailored product offerings</li>
	<li>Timely and accurate sales desk support</li>
	<li>Responsive plan design consulting services</li>
	<li>Useful and informative sponsor marketing materials</li>
	<li>Knowledgeable local office support</li>
</ul>

<hr>



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Mark Ahern</strong><br />
Director<br />
Internal Sales<br />
<a href="tel:+1-317-285-1274">1 (317) 285-1274</a><br />
<a href="mailto:mark.ahern@oneamerica.com" >Email Mark Ahern</a></address>
</div>

<div class="col-md-4">
<address><strong>Pat Kendall</strong><br />
Regional Vice President<br />
Eastern Region<br />
<a href="tel+1-413-427-3802">1 (413) 427-3802</a><br />
<a href="mailto:pat.kendall@oneamerica.com" >Email Pat Kendall</a></address>
</div>

<div class="col-md-4">
<address><strong>Pete Schroedle</strong><br />
Regional Vice President<br />
Central Region<br />
<a href="tel:+1-317-285-1602">1 (317) 285-1602</a><br />
<a href="mailto:pete.schroedle@oneamerica.com" >Email Pete Schroedle</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Retirement Services Internal Sales Desk</strong><br />
<a href="tel:+1-866-313-7355">1 (866) 313-7355</a><br />
<a href="mailto:nationalsales.rs@oneamerica.com" >Email RS Internal Sales Desk</a></address>
</div>
</div>
 
          
</div>
</div>
</div><div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"> 

<a class="accordion-toggle collapsed pointer" data-toggle="collapse" data-target="#collapse00"> 

<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> 

Senior Leaders</a></h4>

</div>

<div class="collapse" id="collapse00" aria-expanded="false">


<div class="panel-body">
<p dir="ltr">You are backed by leadership that has the vision and work ethic to guide associates with the end and purpose in mind.</p>

<p dir="ltr">It’s our mission to deliver on our promises – and to be here when our customers need us most.</p>

<hr>



<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Andy Bunce</strong><br />
Assistant Vice President<br />
Sales Development<br />
Eastern Region<br />
<a href="tel:+1-405-509-0598">1 (405) 509-0598</a><br />
<a href="mailto:andy.bunce@oneamerica.com" >Email Andy Bunce</a></address>
</div>

<div class="col-md-4">
<address><strong>Bruce Moon</strong><br />
Vice President<br />
Product Management<br />
<a href="tel:+1-317-285-4562">1 (317) 285-4562</a><br />
<a href="mailto:bruce.moon@oneamerica.com" >Email Bruce Moon</a></address>
</div>

<div class="col-md-4">
<address><strong>Cheryl Gentry</strong><br />
Vice President<br />
Sales Support<br />
<a href="tel:+1-317-285-1764">1 (317) 285-1764</a><br />
<a href="mailto:cheryl.gentry@oneamerica.com" >Email Cheryl Gentry</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Chris Coudret</strong><br />
Vice President and Chief Distribution Officer<br />
Care Solutions<br />
<a href="tel:+1-317-285-7315">1 (317) 285-7315</a><br />
<a href="mailto:chris.coudret@oneamerica.com" >Email Chris Coudret</a></address>
</div>

<div class="col-md-4">
<address><strong>Clay Summers</strong><br />
Field Vice President<br />
Sales Development<br />
<a href="tel:+1-317-285-1152">1 (317) 285-1152</a><br />
<a href="mailto:clay.summers@oneamerica.com" >Email Clay Summers</a></address>
</div>

<div class="col-md-4">
<address><strong>Danielle Marsh</strong><br />
Vice President<br />
Marketing<br />
<a href="tel:+1-317-285-1464">1 (317) 285-1464</a><br />
<a href="mailto:danielle.marsh@oneamerica.com" >Email Danielle Marsh</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>David Foley</strong><br />
Regional Vice President<br />
Western Region<br />
<a href="tel:+1-317-285-7272">1 (317) 285-7272</a><br />
<a href="mailto:david.foley@oneamerica.com" >Email David Foley</a></address>
</div>

<div class="col-md-4">
<address><strong>Debbie Eversole</strong><br />
Assistant Vice President<br />
Corporate Compliance<br />
<a href="tel:+1-317-285-1648">1 (317) 285-1648</a><br />
<a href="mailto:debbie.eversole@oneamerica.com" >Email Debbie Eversole</a></address>
</div>

<div class="col-md-4">
<address><strong>Dennis Martin</strong><br />
Senior Vice President and Product Development Officer<br />
<a href="tel:+1-317-285-2672">1 (317) 285-2672</a><br />
<a href="mailto:dennis.martin@oneamerica.com" >Email Dennis Martin</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Doug Gritton</strong><br />
Vice President<br />
Independent Brokerage<br />
<a href="tel:+1-317-285-1910">1 (317) 285-1910</a><br />
<a href="mailto:doug.gritton@oneamerica.com" >Email Doug Gritton</a></address>
</div>

<div class="col-md-4">
<address><strong>Greg Purvis</strong><br />
Assistant Vice President<br />
Advanced Sales Market Development<br />
<a href="tel:+1-317-285-1763">1 (317) 285-1763</a><br />
<a href="mailto:greg.purvis@oneamerica.com" >Email Greg Purvis</a></address>
</div>

<div class="col-md-4">
<address><strong>Gregg Poston</strong><br />
Vice President<br />
Operations<br />
<a href="tel:+1-317-285-2552">1 (317) 285-2552</a><br />
<a href="mailto:gregg.poston@oneamerica.com" >Email Gregg Poston</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Jay Williams</strong><br />
Chief Compliance Officer<br />
<a href="tel:+1-317-285-1186">1 (317) 285-1186</a><br />
<a href="mailto:jay.williams@oneamerica.com" >Email Jay Williams</a></address>
</div>

<div class="col-md-4">
<address><strong>Jeff Malicki</strong><br />
Agency Vice President<br />
Agency Distribution<br />
Western Region<br />
<a href="tel:+1-317-285-2554">1 (317) 285-2554</a><br />
<a href="mailto:jeff.malicki@oneamerica.com" >Email Jeff Malicki</a></address>
</div>

<div class="col-md-4">
<address><strong>Jeff Smith</strong><br />
Vice President<br />
Sales Support<br />
<a href="tel:+1-317-285-2677">1 (317) 285-2677</a><br />
<a href="mailto:jeffrey.smith@oneamerica.com" >Email Jeff Smith</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Jeff Drake</strong><br />
Vice President<br />
Senior Product Advisor<br />
<a href="tel:+1-317-285-4555">1 (317) 285-4555</a><br />
<a href="mailto:jeff.drake@oneamerica.com" >Email Jeff Drake</a></address>
</div>

<div class="col-md-4">
<address><strong>Jim McWilliams</strong><br />
Vice President Valuation and Senior Finance Officer<br />
<a href="tel:+1-317-285-2337">1 (317) 285-2337</a><br />
<a href="mailto:jim.mcwilliams@oneamerica.com" >Email Jim McWilliams</a></address>
</div>

<div class="col-md-4">
<address><strong>Josh Hauser</strong><br />
Vice President and Chief Agency Officer<br />
Retail<br />
<a href="tel:+1-317-285-2649">1 (317) 285-2649</a><br />
<a href="mailto:josh.hauser@oneamerica.com" >Email Josh Hauser</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Mark Luttner</strong><br />
Regional Vice President<br />
Eastern Region<br />
<a href="tel:+1-317-285-7274">1 (317) 285-7274</a><br />
<a href="mailto:mark.luttner@oneamerica.com" >Email Mark Luttner</a></address>
</div>

<div class="col-md-4">
<address><strong>Mark Wutt</strong><br />
Vice President<br />
Marketing and Sales Support<br />
<a href="tel:+1-317-285-1431">1 (317) 285-1431</a><br />
<a href="mailto:mark.wutt@oneamerica.com" >Email Mark Wutt</a></address>
</div>

<div class="col-md-4">
<address><strong>Matt Fleetwood</strong><br />
President<br />
OneAmerica Securities<br />
<a href="tel:+1-317-285-1106">1 (317) 285-1106</a><br />
<a href="mailto:matt.fleetwood@oneamerica.com" >Email Matt Fleetwood</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Mic Jund</strong><br />
Agency Vice President<br />
Sales Development<br />
Central Region<br />
<a href="tel:+1-515-229-6254">1 (515) 229-6254</a><br />
<a href="mailto:mic.jund@oneamerica.com" >Email Mic Jund</a></address>
</div>

<div class="col-md-4">
<address><strong>Pat Foley</strong><br />
President<br />
Individual Life and Financial Services<br />
<a href="tel:+1-317-285-2101">1 (317) 285-2101</a><br />
<a href="mailto:patrick.foley@oneamerica.com" >Email Pat Foley</a></address>
</div>

<div class="col-md-4">
<address><strong>Peter Blankenhorn</strong><br />
Vice President and Corporate Medical Director<br />
<a href="tel:+1-317-285-2586">1 (317) 285-2586</a><br />
<a href="mailto:peter.blankenhorn@oneamerica.com" >Email Peter Blankenhorn</a></address>
</div>
</div>

<div class="row" dir="ltr">
<div class="col-md-4">
<address><strong>Sandy Dougherty</strong><br />
Assistant Vice President<br />
<a href="tel:+1-877-999-9883">1 (877) 999-9883</a>, opt. 5<br />
<a href="mailto:producercomp.corpfin@oneamerica.com" >Email Producer Compensation</a></address>
</div>

<div class="col-md-4">
<address><strong>Steve Cox</strong><br />
Vice President<br />
Pricing and Product Development<br />
<a href="tel:+1-317-285-1960">1 (317) 285-1960</a><br />
<a href="mailto:steve.cox@oneamerica.com" >Email Steve Cox</a></address>
</div>

<div class="col-md-4">
<address><strong>Susie Sughrue</strong><br />
Vice President<br />
Underwriting<br />
<a href="tel:+1-317-285-7755">1 (317) 285-7755</a><br />
<a href="mailto:susie.sughrue@oneamerica.com" >Email Susie Sughrue</a></address>
</div>
</div>
 
          
</div>
</div>
</div></div>










 </div>
</div>


