<div class="page-content">
<div class="page-header">
<h1>Term 2002</h1>
</div>

<p>Many clients obtained life insurance protection with Term 2002.</p>


</div>


<h2>Policy Structure</h2>

<p>Term life insurance</p>

<h2>Product Information</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issuing Company</strong></td>
<td>American United Life Insurance Company<sup>®</sup></td>
</tr>

<tr role="row">
<td><strong>Policy Form Number</strong></td>
<td>2450</td>
</tr>

<tr role="row">
<td><strong>Guarantees</strong></td>
<td>Level premiums for the initial term period of 10, 15 or 20 years</td>
</tr>

<tr role="row">
<td><strong>Underwriting Classes</strong></td>
<td>
<ul>
<li>Super preferred nontobacco</li>

<li>Preferred nontobacco</li>

<li>Standard nontobacco</li>

<li>Preferred tobacco</li>

<li>Standard tobacco</li>
</ul>
</td>
</tr>

<tr>
<td><strong>Rated Underwriting</strong></td>
<td>Non-tobacco and tobacco substandard</td>
</tr>

<tr>
<td><strong>Maximum Table Rating</strong></td>
<td>Table F or $10 flat extra</td>
</tr>

<tr>
<td><strong>Minimum Face Amount</strong></td>
<td>$100,000</td>
</tr>

<tr>
<td><strong>Premium Bands</strong></td>
<td>
<ul>
<li>Band 1: $100,000</li>

<li>Band 2: $250,000</li>

<li>Band 3: $1,000,000</li>
</ul>
</td>
</tr>

<tr role="row">
<td><strong>Fees</strong></td>
<td>$75 annual policy fee</td>
</tr>

<tr>
<td><strong>Available Billing Modes</strong></td>
<td>Annual, semi-annual and monthly automatic premium payment (APP)</td>
</tr>

</tbody></table>

<h2>Additional Information</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issue Ages Were</strong></td>
<td>
<ul>
<li>10-year level term: 18-70</li>

<li>15-year level term: 18-65</li>

<li>20-year level term: 18-60</li>
</ul>
</td>
</tr>

<tr role="row">
<td><strong>Conversion Period</strong></td>
<td>
<ul>
<li>LTP 10/10 8 Years Or Age 70</li>

<li>LTP 15/15 13 Years Or Age 70</li>

<li>LTP 2/020 18 Years Or Age 70</li>
</ul>
</td>
</tr>

</tbody></table>

<h2>Term 2002 Life Riders</h2>

<h3>Children’s Benefit Rider</h3>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issue Ages Were</strong></td>
<td>18-60</td>
</tr>

<tr role="row">
<td><strong>Minimum Face Amount</strong></td>
<td>$5,000</td>
</tr>

<tr role="row">
<td><strong>Maximum Face Amount</strong></td>
<td>$20,000</td>
</tr>

<tr role="row">
<td><strong>Maximum Table Rating</strong></td>
<td>Table H</td>
</tr>

<tr role="row">
<td><strong>Available After Issue?</strong></td>
<td>Yes</td>
</tr>

</tbody></table>

<h3>Conversion Extension Rider</h3>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Specification</strong></td>
<td><strong>Details</strong></td>
</tr>

<tr role="row">
<td><strong>Issue Ages Were</strong></td>
<td>
<ul>
<li>10-year level term: 18-70</li>

<li>15-year level term: 18-65</li>

<li>20-year level term: 18-60</li>
</ul>
</td>
</tr>

<tr role="row">
<td><strong>Extended Conversion Period</strong></td>
<td>
<p>10-year level term: 10 years or age 70</p>

<p>15-year level term: 15 years or age 70</p>

<p>20-year level term: 20 years or age 70</p>
</td>
</tr>

<tr role="row">
<td><strong>Available After Issue?</strong></td>
<td>No</td>
</tr>

</tbody></table>

<h3>Waiver of Premium for Disability Benefit</h3>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issue Ages</strong></td>
<td>18-55</td>
</tr>

<tr role="row">
<td><strong>Maximum Rating</strong></td>
<td>Table D - No flat extra</td>
</tr>

<tr role="row">
<td><strong>Available After Issue?</strong></td>
<td>No</td>
</tr>

</tbody></table>

<h2>Sample Policy and Rider Pages</h2>

<p>Click the links below for quick access to sample policy and rider pages. See details about how the features work. Note that all policy and rider form number series are subject to the limitations described in the policy and rider pages, state availability and state variations.</p>

<ul>
<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/term-2002/2450u-mt-sample-term-policy" >Term 2002 Policy Pages</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>

<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/term-2002/2013-sample-childrens-life-insurance-agreement" >Children’s Insurance Benefit Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>

<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/term-2002/1566-sample-conversion--extension-rider" >Conversion Extension Rider</a>&#160;<i class="fa gray-80 fa-file-pdf-o"></i></li>

<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/term-2002/2018-sample-waiver-of-premium-agreement" >Waiver of Premium for Disability Benefit</a>&#160; <i class="fa gray-80 fa-file-pdf-o"></i></li>
</ul>

<p><strong>Note</strong><br />
Not a deposit • Not FDIC or NCUSIF insured • Not guaranteed by the institution • Not insured by any federal government agency • May go down in value</p>

<p>OneAmerica is the marketing name for American United Life Insurance Company<sup>®</sup> (AUL).</p>

<p>Products issued and underwritten by AUL, Indianapolis, IN, a OneAmerica company. Term 2002 policy form number series: 2450. May vary by state.</p>

<p>All guarantees are subject to the claims-paying ability of American United Life Insurance Company® (AUL).</p>

<p>All riders are subject to the limitations described in the rider pages, state availability and state variations.</p>

<p>Provided content is for overview and informational purposes only and is not intended as tax, legal, fiduciary or investment advice.</p>



<div class="modal help-modal fade" id="wcmModal" tabindex="-1" role="dialog" aria-labelledby="wcmModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>
<div class="modal-body">


</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>




































