<div class="page-content">
<div class="page-header">
<h1>Century</h1>
</div>

<p>Many clients obtained life insurance protection with Century.</p>


</div>


<h2>Policy Structure</h2>

<p>Universal life insurance</p>

<h2>Product Information</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issuing Company</strong></td>
<td>Pioneer Mutual Life Insurance Company<sup>®</sup></td>
</tr>

<tr role="row">
<td><strong>Policy Form Number</strong></td>
<td>&#160;</td>
</tr>

<tr role="row">
<td><strong>Issue Ages Were</strong></td>
<td>18-85</td>
</tr>

<tr role="row">
<td><strong>Underwriting Classes</strong></td>
<td>
<ul>
<li>Elite preferred non-tobacco</li>

<li>Preferred non-tobacco</li>

<li>Standard plus non-tobacco</li>

<li>Standard non-tobacco</li>

<li>Standard tobacco</li>
</ul>
</td>
</tr>

<tr>
<td><strong>Rated Underwriting</strong></td>
<td>Non-tobacco and tobacco substandard</td>
</tr>

<tr>
<td><strong>Maximum Rating</strong></td>
<td>Table F</td>
</tr>

<tr>
<td><strong>Minimum Face Amount</strong></td>
<td>$100,000</td>
</tr>

<tr>
<td><strong>Minimum Modal Premium</strong></td>
<td>As required by policy illustration to maintain a positive continuation of guarantee value</td>
</tr>

<tr>
<td><strong>Available Billing Modes</strong></td>
<td>Annual, semi-annual and monthly automatic premium payment (APP)</td>
</tr>

<tr>
<td><strong>Face Increases</strong></td>
<td>
<ul>
<li>Allowed after the first year</li>

<li>$5,000 minimum increase.</li>
</ul>
</td>
</tr>

</tbody></table>

<h2>Fees, Withdrawal Charges and Access to Cash Value</h2>

<h3>Fees</h3>

<p>Premium expense charge: 15% in all policy years</p>

<h3>Surrender Charges</h3>

<ul>
<li>20-year or age 100 surrender charge period</li>

<li>Face increases result in a new surrender charges</li>
</ul>

<h3>Access to Cash Value</h3>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Withdrawal Minimum</strong></td>
<td>$500</td>
</tr>

<tr role="row">
<td><strong>Withdrawal Charge</strong></td>
<td>$25 per withdrawal</td>
</tr>

<tr role="row">
<td><strong>Loan Interest Rate</strong></td>
<td>
<ul>
<li>7.5% fixed</li>

<li>3% crediting rate</li>

<li>No preferred loans</li>
</ul>
</td>
</tr>

<tr>
<td valign="top"><strong>Maximum Loan Amount</strong></td>
<td valign="top">100% of the account value less any loans, loan interest, surrender charges and accrued loan interest</td>
</tr>
</table>

<h2>Century Riders</h2>

<h3>Accelerated Death Benefit</h3>

<ul>
<li>Was issued on all policies at no extra charge</li>

<li>Accelerates partial death benefit in the event of terminal illness</li>
</ul>

<h3>Children’s Benefit Rider</h3>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issue Ages (Base Insured)</strong></td>
<td>18-55</td>
</tr>

<tr role="row">
<td><strong>Minimum Face Amount</strong></td>
<td>$1,000</td>
</tr>

<tr role="row">
<td><strong>Maximum Face Amount</strong></td>
<td>$20,000</td>
</tr>

<tr>
<td valign="top"><strong>Maximum Table Rating</strong></td>
<td valign="top">Table D</td>
</tr>

<tr>
<td valign="top"><strong>Available After Issue?</strong></td>
<td valign="top">Yes</td>
</tr>
</table>

<h3>Maturity Date Extension Rider</h3>

<ul>
<li>Was issued on all policies at no extra charge</li>

<li>Extends maturity age from age 100 to age 120</li>
</ul>

<h3>Waiver of Premium for Disability Rider</h3>

<p>Waiver of Premium for Disability</p>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td><strong>Issue Ages Were</strong></td>
<td>18-55</td>
</tr>

<tr role="row">
<td><strong>Maximum Rating</strong></td>
<td>Table D</td>
</tr>

<tr role="row">
<td><strong>Maximum Face Amount</strong></td>
<td>$5,000,000 or $60,000 premium</td>
</tr>

<tr role="row">
<td><strong>Available After Issue?</strong></td>
<td>No</td>
</tr>

</tbody></table>

<h2>Sample Policy and Rider Pages</h2>

<p>Click the links below for quick access to standard versions of policy and rider pages. See details about how the features work. Note that all policy and rider form number series are subject to the limitations described in the policy and rider pages, state availability and state variations.</p>

<ul>
<li>Century Policy Pages</li>

<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/century/1511-accelerated-benefit-agreement" >Accelerated Death Benefit</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>

<li>Children’s Benefit Rider <i class="fa gray-80 fa-file-pdf-o"></i></li>

<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/century/2470-sample-maturity-date-extension-rider" >Maturity Date Extension Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>

<li><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/century/2460-sample-waiver-of-premium-disability-rider" >Waiver of Premium for Disability Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>
</ul>

<p><strong>Note</strong><br />
Not a deposit • Not FDIC or NCUSIF insured • Not guaranteed by the institution • Not insured by any federal government agency • May go down in value</p>

<p>OneAmerica is the marketing name for Pioneer Mutual Life Insurance Company<sup>®</sup> (PML).</p>

<p>Products issued and underwritten by PML, Indianapolis, IN, a OneAmerica company. Century policy form number series: ???. May vary by state.</p>

<p>All guarantees are subject to the claims-paying ability of PML.</p>

<p>All riders are subject to the limitations described in the rider pages, state availability and state variations.</p>

<p>Provided content is for overview and informational purposes only and is not intended as tax, legal, fiduciary or investment advice.</p>



<div class="modal help-modal fade" id="wcmModal" tabindex="-1" role="dialog" aria-labelledby="wcmModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>
<div class="modal-body">


</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>




































