<div class="page-content">
    <div class="page-header">
        <h1>Underwriting - Retail</h1>
    </div>

    <div class="clearfix">
        <div class="tabbable tabbable-in-content">
            <ul class="nav nav-tabs" id="myTab4">

                <li class="active"><a href="#client-facing" data-toggle="tab">
                    Submitting Requirements
                </a>
                </li>

                <li><a href="#producer-facing" data-toggle="tab">
                    Programs
                </a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div id="client-facing" class="tab-pane in active">
                    <div class="row">
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-8">

                            <p>Submitting Requirements</p>

                        </div>
                    </div>
                </div>


                <div id="producer-facing" class="tab-pane">
                    <p>
                        <a href="#c/underwriting/consider-the-source">Consider the Source</a>
                    </p>
                    <p>
                        <a href="#c/underwriting/more-standard-policies">More Standard Policies</a>
                    </p>
                    <p>
                        <a href="#c/underwriting/more-standard-policies">Pre-Underwriting Inquiry</a>
                    </p>
                </div>
            </div>
        </div>


        <div class="jumplinks-traveling affix-top" id="jumplinks-traveling">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">On this page
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>

            </div>
        </div>


        <p>For over a century the Underwriting department of the OneAmerica companies has provided
            quality services to our customers and field partners. Underwriting consultants are
            committed to rendering underwriting decisions that are fair and consistent, while
            adhering to industry and enterprise standards. &nbsp;</p>

        <p>Access resources on this page to help you in your day-to-day interaction with clients and
            our team.</p>


    </div>


    <h3>APS Vendor</h3>

    <p><a href="#c/underwriting/programs-retail">Try me</a></p>

    <p>Effective May 1, 2016 to the present, our APS vendor is:&nbsp;</p>

    <p>Parameds.com (PDC)&nbsp;</p>

    <p>120-10 Queens Blvd&nbsp;</p>

    <p>Kew Gardens, NY 11415&nbsp;</p>

    <p>(718) 575-2000&nbsp;</p>

    <p><a href="mailto:office@parameds.com">office@parameds.com</a> &nbsp;</p>

    <p>PDC's expertise and proven performance enables us to improve our service to you by more
        efficiently managing the APS retrieval process. Because we know how important it is to
        continually improve our underwriting processing time, we work with PDC to use changing
        technologies and procedures to improve our retrieval of medical records for you.&nbsp;</p>

    <p>To accomplish this, we implemented a new procedure for obtaining special authorizations, when
        needed in the collection of medical records. PDC goes directly to the applicant to obtain a
        special authorization if needed, instead of routing the request through the OneAmerica Home
        Office.&nbsp;</p>

    <p>We're excited to offer this improvement in overall service and processing time!&nbsp;</p>

    <p>
        <a href="http://image.statelife.oneamericaemailservices.com/lib/fefd1c74756105/m/1/One+America+PDC+Protocol.pdf">Review
            the process for obtaining special authorizations »</a></p>

    <p>For access to view your APS orders on the PDC site, please contact Diana Cole at <a
            href="mailto:diana.cole@oneamerica.com">diana.cole@oneamerica.com</a>. Please provide
        her with your name, email address and a direct phone number.</p>


    <hr>


</div>