<div class="page-header">
<h1>Fiduciary E-newsletter Archive</h1>
</div>

<div class="clearfix">








</div>


<h2>2017</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
<tr>
<td>July 26, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=c3424a82b5de91d94ce79856a862f00eaaf36cda9653899e7fc4fb230ef6ad8e1de78f3be0f06988c8d354fc789003d325e0c2166226816c78042e33c6f6e1ea2e3961ce5d50fcaa5010b84c59032299" >DOL update for Retail</a></td>
</tr>

<tbody>
<tr role="row">
<td>June 8, 2017</td>
<td>
<p><a href="http://view.aulind.oneamericaemailservices.com/?qs=c4563324dae91467637dd30a88418b79d68c4e6d6cf6401862ba89a6b2b5778738b987aa3f0dfc2eac7d7e914f16256bbdc397a663fa2d26833b720b8e32b4ea37e11edd61ab5b0cad260b002710e958" >Fiduciary Rule Update: New Forms Available</a><em lass="ace-icon fa fa-external-link">&#160;</em></p>
</td>
</tr>

<tr role="row">
<td>June 5, 2017</td>
<td>
<p><a href="http://view.aulind.oneamericaemailservices.com/?qs=0bbd507d76967c19ae907b4494cf336cd41a88d2ca4ff779606f65631d3aea451b5b4d88850d79692aa755943a3efd2ceb223273ba9ef21243f71f26b7c26f7eb9628a35bf0e34634f88d698f79855f2" >Fiduciary Rule Update for Registered Representatives</a></p>
</td>
</tr>

<tr role="row">
<td>June 2, 2017</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=3e921ef7d5e78b4cc26cd85e5f8deb3223b5315622f76462bd4c02c3b7d09cd9278831d324a4f0e766a8e38c0d2ca8f013997e942293905e4c9313d4ed2719d1e70cdbe9b9ee8b4cb7eed10d9768b2d2" >OneAmerica Fiduciary Rule Update</a></td>
</tr>

<tr role="row">
<td style=" height: 36px;">April 5, 2017</td>
<td style=" height: 36px;"><a href="http://view.aulind.oneamericaemailservices.com/?qs=f9dd6c94e513631fffb5a4701cbbcd119672e09209f2e16e3ee8c0f422db9b6a4effa34e870ddf1430503bcdbdb1e218d5abac80e26b10d8ba21959cf0390ffe4dbf4cc1f7b6c22e" >Fiduciary Update: Several Changes Suspended</a></td>
</tr>

<tr>
<td style=" height: 18px;">March 13, 2017</td>
<td style=" height: 18px;"><a href="http://view.aulind.oneamericaemailservices.com/?qs=4bbfef4ed9f09703b79c10900017e789216c49c7f6d599f09391a5adea646d53300cedcd96f5dd310c824eb55d5fdc8865986f5ef58d80574e044ac40c1a47d1a52ebb60b26d5cd0" >Strategic Changes</a></td>
</tr>

</tbody></table>

<h2>2016</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<td>Dec. 21, 2016</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=8e956881dd6c625c943aeecd45b41413d2a3f6c70df7c49712078a53f44ee3471fa9a124328f8035e4641fab4a6a78f9f7bc344dd2d6bab4cf7e0b53ccd72d709b3ee449953955ff" >Important Fiduciary Update</a></td>
</tr>

<tr role="row">
<td>Nov. 17, 2016</td>
<td><a href="http://view.statelife.oneamericaemailservices.com/?qs=1ac97b19e67186a0cfc524b6375bc70f245c2ff5cbf7166ae8e6b0d6154a3f06c25ab8504f23ab442d4737ae0afc599cce898da1d1989488bbc1c0ade51dab53e4e2b09e3ca95a7d" >How Does the Election Affect the Fiduciary Rule?</a></td>
</tr>

<tr role="row">
<td>Nov. 3, 2016</td>
<td><a href="http://view.aulind.oneamericaemailservices.com/?qs=bd15b1954e58a2180fbfa4b93f6c15755d5f7eb67fa46bf412d0bef85e8435464093f4bf8394ff9c00212faca554094e7642670a89f43a0da3f609806a3aafb42426c1496640fac0" >Fiduciary Rule Compliance and OneAmerica: What You Need to Know Now</a></td>
</tr>

</tbody></table>


<hr>


<div class="modal fade" id="wcmModal" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>

<div class="modal help-modal fade" id="wcmModalLarge" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>

<div class="modal help-modal fade" id="wcmModalXLarge" tabindex="-1"
 role="dialog" aria-labelledby="wcmModalLabel">
 <div class="modal-dialog modal-auto" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
     aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>

   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>