<div class="page-content">
    <div class="page-header">
        <h1>Secure Income Stream</h1>
    </div>

    <div class="clearfix">
        <div class="tabbable tabbable-in-content">
            <ul class="nav nav-tabs" id="myTab4">

                <li class="active"> <a href="#client-facing" data-toggle="tab">
                    Sales and Marketing Guide
                </a>
                </li>

                <li> <a href="#producer-facing" data-toggle="tab">
                    Sales Ideas
                </a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div id="client-facing" class="tab-pane in active">
                    <div class="row">
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-8">

                            <p>Coming soon</p>

                        </div>
                    </div>
                </div>


                <div id="producer-facing" class="tab-pane">

                </div>
            </div>
        </div>


        <div class="jumplinks-traveling affix-top" id="jumplinks-traveling">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">On this page
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>

            </div>
        </div>


        <p>Secure Income Stream flexible deferred income annuity provides clients with a guaranteed income stream they cannot outlive.</p>


    </div>


    <h2 dir="ltr">Secure Income Stream State Approvals</h2>

    <p dir="ltr">The Secure Income Stream flexible deferred income annuity is approved in most states. State variations may apply.</p>

    <h2 dir="ltr">State Limitations</h2>

    <ul dir="ltr">
        <li>OneAmerica is not licensed in New York.</li>

        <li>Products and features are not approved in a few states.</li>
    </ul>


    <hr>

    <p><strong>Note</strong><br>
        Not a deposit • Not FDIC or NCUSIF insured • Not guaranteed by the institution • Not insured by any federal government agency • May go down in value</p>

    <p>OneAmerica is the marketing name for American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <p>Products are issued and underwritten by AUL, Indianapolis, IN, a OneAmerica company. Secure Income Stream policy form number series: LA-33. May not be available in all states and may vary by state.</p>


</div>