<div class="page-content">
    <div class="wcmContent">
        <div class="page-content">
            <div class="page-header">
                <h1>More Standard Policies</h1>
            </div>


        </div>

        <p>The OneAmerica<sup>®</sup> More Standard Policies (MSP) Underwriting Program absorbs
            table ratings through table D. The examples that follow are just a few of the many
            impaired situations that qualify as standard policies. There is no change in commissions
            or production credit. This program is possible through a special reinsurance arrangement
            negotiated by OneAmerica.</p>

        <table class="data-table table table-striped table-bordered table-hover" dir="ltr"
               role="grid">
            <tbody>
            <tr role="row">
                <th>Health Condition</th>
                <td><strong>Former Underwriting Action</strong></td>
                <td><strong>Current Underwriting Action</strong></td>
            </tr>

            <tr role="row">
                <td style=" height: 35px;">5’10 and 293 lbs</td>
                <td style=" height: 35px;">Table D</td>
                <td style=" height: 35px;">Standard</td>
            </tr>

            <tr role="row">
                <td style=" height: 19px;">Severe depressive neuroses within the year</td>
                <td style=" height: 19px;">Table D</td>
                <td style=" height: 19px;">Standard</td>
            </tr>

            <tr role="row">
                <td style=" text-align: left;">Aortic stenosis heart murmur</td>
                <td>Table D</td>
                <td>Standard</td>
            </tr>

            </tbody>
        </table>

        <h3>Important Features about this Program</h3>

        <ul>
            <li>Maximum age is 80.&nbsp;</li>

            <li>MSP is applied by underwriting for the following life insurance products:</li>
        </ul>

        <table class="data-table table table-striped table-bordered table-hover" dir="ltr"
               role="grid">
            <tbody>
            <tr role="row">
                <th>Product</th>
                <td><strong>Issuing Company</strong></td>
            </tr>

            <tr role="row">
                <td>Legacy whole life</td>
                <td>American United Life Insurance Company<sup>®</sup> (AUL)</td>
            </tr>

            <tr role="row">
                <td>Legacy 121 whole life</td>
                <td>AUL</td>
            </tr>

            <tr role="row">
                <td>Liberty whole life</td>
                <td>AUL</td>
            </tr>

            <tr role="row">
                <td>Optimum Accumulator universal life</td>
                <td>Pioneer Mutual Life Insurance Company<sup>®</sup> (PML)</td>
            </tr>

            </tbody>
        </table>

        <ul>
            <li>Term policies are not eligible.</li>

            <li>The Blended Insurance Rider or Enhanced Blended Insurance Rider is available if the
                base policy is 50 percent or less of the total face amount.&nbsp;
            </li>

            <li>Paid-Up Additions Riders are not available under this program.&nbsp;</li>

            <li>Preferred classes are not available.&nbsp;</li>

            <li>Flat extra ratings cannot be reduced. Flat extra ratings are often used for
                avocations, driving, aviation and for some applicants with heart attack, stroke and
                cancer histories. Applicants rated with a flat extra cannot receive a lower rating
                from this program.&nbsp;
            </li>

            <li>To be waived, the initial table rating must be table D or lower before the use of
                favorable underwriting credits. For example, an initial rating of table E, F or H,
                which is reduced via credits to tables B-D, is not eligible for further reductions
                through this program.
            </li>

            <li>Certain table ratings are not eligible for this program, such as, ratings for
                alcohol or drug abuse, driving or ratable avocations including aviation.
            </li>
        </ul>

        <h3>MSP Maximum Coverage Amounts</h3>

        <table class="data-table table table-striped table-bordered table-hover" dir="ltr"
               role="grid">
            <tbody>
            <tr role="row">
                <th>Proposed Insureds</th>
                <td><strong>Success Rewards and VIP Program Producers</strong></td>
                <td><strong>Producers</strong></td>
            </tr>

            <tr role="row">
                <td style=" height: 36px;">Up to age 70</td>
                <td style=" height: 36px;">$5,000,000</td>
                <td style=" height: 36px;">$2,500,000</td>
            </tr>

            <tr role="row">
                <td style=" height: 18px;">Ages 71-80</td>
                <td style=" height: 18px;">$1,000,000</td>
                <td style=" height: 18px;">$1,000,000</td>
            </tr>

            </tbody>
        </table>

        <h3>MSP Maximum Table Reduction</h3>

        <table class="data-table table table-striped table-bordered table-hover" dir="ltr"
               role="grid">
            <tbody>
            <tr role="row">
                <td>Up to age 70</td>
                <td>Four tables</td>
            </tr>

            <tr role="row">
                <td>Ages 71-80</td>
                <td>Two tables</td>
            </tr>

            </tbody>
        </table>

        <p>This program is not retroactive. In-force substandard policies cannot be placed in this
            program. MSP can only be used with current full underwriting. For example, a term policy
            issued at table D is not automatically reduced to standard when converted. This program
            is intended to be used by producers who encounter impaired clients during their usual
            solicitation process. It is not designed to attract business from producers specializing
            in impaired risks.</p>

    </div>
</div>