﻿
<div class="page-header">
<h1>Interest Rates & Product Performance</h1>
</div>

<p dir="ltr">Obi-wan aayla organa antilles skywalker. Greedo moff antilles padmé mara mace ackbar. Kenobi anakin jawa solo antilles c-3p0 solo skywalker. Darth wedge han calamari jango. Darth skywalker darth mara.</p>


<h2 class="header">
Interest Rates
</h2>


<p dir="ltr"><a href="/wps/wcm/connect/ind/onlineservices/resources/employeebenefits/rgo+territory+map" target="_blank" >February 15–March 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></p>

<p dir="ltr"><div class="panel-group accordion-style1 accordion-style2 accordion-style-help">
<div class="panel panel-default">

<div class="panel-heading"> <a href="#producer-search"  data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false"> <i class="pull-right ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i> <i class="ace-icon fa fa-file-pdf-o bigger-130"></i> &nbsp;Interest Rate Archive</a> </div>
<!-- /.panel-heading -->
<div class="panel-collapse collapse" id="producer-search" aria-expanded="false">
<div class="panel-body">
                                                    
<ul><li><a target="_blank" title="" href="/wps/wcm/connect/25f586a6-9657-4d9f-ae8e-29b504c70e41/NewMoneyRates+05-15-2016.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=25f586a6-9657-4d9f-ae8e-29b504c70e41" >Interest Rates – May 15 through June 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/4f086a13-33c1-483b-a193-74d2966d4642/NewMoneyRates+04-15-2016.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=4f086a13-33c1-483b-a193-74d2966d4642" >Interest Rates – April 15 through May 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/d03044e3-4e83-4f11-bf56-543602a28832/NewMoneyRates+03-15-2016.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=d03044e3-4e83-4f11-bf56-543602a28832" >Interest Rates – March 15 through April 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/7bb968e5-4655-494d-bdce-156be795a367/NewMoneyRates+02-15-2016.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=7bb968e5-4655-494d-bdce-156be795a367" >Interest Rates – Feb. 15 through March 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/4a18a867-081a-4b4c-bb8c-f23823fc810d/NewMoneyRates+1-15-2016.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=4a18a867-081a-4b4c-bb8c-f23823fc810d" >Interest Rates – Jan. 15 through Feb. 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/2187caf7-bdf2-424c-b269-afc1564ffa2b/NewMoneyRates+12-15-2015.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=2187caf7-bdf2-424c-b269-afc1564ffa2b" >Interest Rates - Dec. 15, 2015 through Jan. 14, 2016</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/ad20dc46-c58f-4d07-9236-6abe96e96991/NewMoneyRates+11-15-2015.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=ad20dc46-c58f-4d07-9236-6abe96e96991" >Interest Rates - Nov. 15 through Dec. 14, 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/3e541b8c-555b-4801-88cd-1b914cc9f0f7/NewMoneyRates+10-15-2015.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=3e541b8c-555b-4801-88cd-1b914cc9f0f7" >Interest Rates - Oct. 15 through Nov. 14, 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/a868bd93-2225-4406-a9e8-32046f2493b5/NewMoneyRates+09-15-2015.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=a868bd93-2225-4406-a9e8-32046f2493b5" >Interest Rates - Sept. 15 through Oct. 14, 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/af3650a6-9640-4c93-bdd4-8e4938f8ddb8/NewMoneyRates+08-15-2015+revised.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=af3650a6-9640-4c93-bdd4-8e4938f8ddb8" >Interest Rates - Aug. 15 through Sept. 14, 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/04cc681b-0342-4a58-8c95-a382ff0a849d/NewMoneyRates+07-15-2015.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=04cc681b-0342-4a58-8c95-a382ff0a849d" >Interest Rates - July 15 through Aug. 14, 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/e738ae33-5cb1-4df5-9dfe-07f92467b081/NewMoneyRates+06-15-2015.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=e738ae33-5cb1-4df5-9dfe-07f92467b081" >Interest Rates - June 15 through July 14, 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/b69fc655-aaf5-4146-8f88-5ac6e9a53bf3/NewMoneyRates0515mid.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=b69fc655-aaf5-4146-8f88-5ac6e9a53bf3" >Interest Rate - mid-May 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/76f59f7f-6cdd-4415-9180-54ed06a053f7/NewMoneyRates0515.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=76f59f7f-6cdd-4415-9180-54ed06a053f7" >Interest Rate - May 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/9e61e7b2-3021-411f-be74-d5c37fc8d151/NewMoneyRates0415mid.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=9e61e7b2-3021-411f-be74-d5c37fc8d151" >Interest Rate - mid-April 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/645a0159-0d9c-460d-bfe1-5ca4e4d2b01a/NewMoneyRates0415.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=645a0159-0d9c-460d-bfe1-5ca4e4d2b01a" >Interest Rate - April 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/54940c2d-f9ff-424a-8937-44beb9bc3cf6/NewMoneyRates0315mid.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=54940c2d-f9ff-424a-8937-44beb9bc3cf6" >Interest Rate - mid-March 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/59cfac55-66c1-4bf5-8354-4b350cea93db/NewMoneyRates0315.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=59cfac55-66c1-4bf5-8354-4b350cea93db" >Interest Rate - March 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/74b00b13-0eae-414f-9edf-daa621fbc4ef/NewMoneyRates0215+mid.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=74b00b13-0eae-414f-9edf-daa621fbc4ef" >Interest Rate - mid-February 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/6ddc8852-6e14-41bb-b548-9f610b2e5419/NewMoneyRates0215.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=6ddc8852-6e14-41bb-b548-9f610b2e5419" >Interest Rate - February 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/3a51efa0-ff47-4182-af14-ffc5dc17cd10/NewMoneyRates0115+mid.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=3a51efa0-ff47-4182-af14-ffc5dc17cd10" >Interest Rate - mid-January 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/577bed91-0f04-4846-abc7-8a158af5fce8/NewMoneyRates0115.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=577bed91-0f04-4846-abc7-8a158af5fce8" >Interest Rate - January 2015</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/1b5c61ea-4a39-48f8-979b-673417f37fd3/NewMoneyRates1214+mid.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=1b5c61ea-4a39-48f8-979b-673417f37fd3" >Interest Rate - mid-December 2014</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


<li><a target="_blank" title="" href="/wps/wcm/connect/f1ca6fad-551c-47d1-9f89-45d7d7239950/NewMoneyRates1214.pdf?MOD=AJPERES&CONVERT_TO=url&CACHEID=f1ca6fad-551c-47d1-9f89-45d7d7239950" >Interest Rate - December 2014</a> <i class="fa gray-80 fa-file-pdf-o"></i></li>


</ul>

</div>
</div>
</div>
</div>
            </p>



<h2 class="header">
Product Based Performance
</h2>

<h3 dir="ltr">Freedom Builder</h3>

<p dir="ltr"><a href="/wps/wcm/connect/ind/onlineservices/resources/employeebenefits/rgo+territory+map" target="_blank" >Freedom Builder Historical Performance</a> <i class="fa gray-80 fa-file-pdf-o"></i></p>

<p dir="ltr"><a href="#" target="_blank" >Freedom Builder Historical Caps and Participation</a> <i class="fa gray-80 fa-file-pdf-o"></i></p>

<h3 dir="ltr">Indexed Annuity Care</h3>

<p dir="ltr"><a href="#" target="_blank" >Indexed Annuity Care Historical Performance</a> <i class="fa gray-80 fa-file-pdf-o"></i></p>

<p dir="ltr"><a href="#" target="_blank" >Indexed Annuity Care Historical Caps and Participation</a> <i class="fa gray-80 fa-file-pdf-o"></i></p>

<h3 dir="ltr">Federal Interest Rates</h3>

<p dir="ltr">Lucas ipsum dolor sit amet greeata farlander t'landa glymphid gordin ailyn ansuroer skywalker jacen dashade. Kal obi-wan offee joh. Juvex anakin toydarian rukh priapulin. Natasi mccool dantari jubnuk barriss. Cadavine tapani amidala snivvian mothma devaronian.</p>

<h4 dir="ltr">Section 7520 Rates</h4>

<div class="table-responsive" dir="ltr">
<table class="table table-striped table-bordered table-hover"><thead>
<tr>
<th>&#160;</th>
<th>2016</th>
<th>2015</th>
<th>2014</th>
<th>2013</th>
<th>2012</th>
<th>2011</th>
</tr>

</thead><tbody>
<tr>
<td>January</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>February</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>March</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>April</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>May</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>June</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>July</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>August</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>September</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>October</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>November</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>December</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

</tbody></table>
</div>

<p dir="ltr"><!-- /.table-responsive --></p>

<div class="table-responsive-instruction" dir="ltr">
<div class="align-center">
<p class="text-info inline">swipe/scroll to view entire table</p>
</div>

<!-- /.align-center --></div>

<p dir="ltr"><!-- /.table-responsive-instruction --></p>

<h4 dir="ltr">Application Federal Mid-Term 120 Percent Annual Rates</h4>

<div class="table-responsive" dir="ltr">
<table class="table table-striped table-bordered table-hover"><thead>
<tr>
<th>&#160;</th>
<th>2016</th>
<th>2015</th>
<th>2014</th>
<th>2013</th>
<th>2012</th>
<th>2011</th>
</tr>

</thead><tbody>
<tr>
<td>January</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>February</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>March</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>April</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>May</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>June</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>July</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>August</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>September</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>October</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>November</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

<tr>
<td>December</td>
<td>2.2%</td>
<td>2.2%</td>
<td>2.2%</td>
<td>1.0%</td>
<td>1.4%</td>
<td>2.4%</td>
</tr>

</tbody></table>
</div>

<p dir="ltr"><!-- /.table-responsive --></p>

<div class="table-responsive-instruction" dir="ltr">
<div class="align-center">
<p class="text-info inline">swipe/scroll to view entire table</p>
</div>
</div>







