<div class="page-content">
    <div class="page-header">
        <h1>Whole Life Insurance</h1>
    </div>

    <div class="clearfix">
        <div class="tabbable tabbable-in-content">
            <ul class="nav nav-tabs" id="myTab4">

                <li class="active"> <a href="#client-facing" data-toggle="tab">
                    Producer-Facing Materials
                </a>
                </li>

                <li> <a href="#producer-facing" data-toggle="tab">
                    Whole Life Client-Facing Materials
                </a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div id="client-facing" class="tab-pane in active">
                    <div class="row">
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-8">
                            <p dir="ltr">Helping Your Clients Give to a Charity &nbsp;<br>
                                Helping Your Clients Create a Legacy &nbsp;<br>
                                Individual Products Guide</p>

                        </div>
                    </div>
                </div>


                <div id="producer-facing" class="tab-pane">

                </div>
            </div>
        </div>


        <div class="jumplinks-traveling affix-top" id="jumplinks-traveling">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">On this page
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>

            </div>
        </div>

        <p dir="ltr">Help clients have confidence that whole life insurance is a wise addition to their financial foundation. Whole life insurance lets them grow cash value over time and leave a legacy for loved ones.</p>


    </div>

    <h2 dir="ltr">Product Information</h2>

    <h3 dir="ltr">Whole Life Policy Structure</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td><strong>Legacy</strong></td>
            <td><strong>Legacy 121</strong></td>
            <td><strong>Liberty Select</strong></td>
        </tr>
        <tr role="row">
            <td>Fixed premium payable to age 100</td>
            <td>Fixed premium payable to age 121</td>
            <td>Fixed premium payable over a limited time:
                <ul>
                    <li>Issue ages 0-60: 5-pay to age 70</li>
                    <li>Issue ages 61+: 5-pay to 10-pay</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h3 dir="ltr">All Whole Life Options</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th style="text-align: left;"><strong>Issuing Company</strong></th>
            <td>American United Life Insurance Company<sup>®</sup></td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Issue Ages</th>
            <td>
                <p>0–85 (preferred rates become</p>

                <p>available at age 18)</p>
            </td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Guarantees</th>
            <td>
                <ul>
                    <li>Death benefit</li>
                    <li>Level premiums</li>
                    <li style="text-align: left;">Cash value</li>
                </ul>
            </td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Dividend Options</th>
            <td>
                <ul>
                    <li>Cash</li>
                    <li>Accumulate at interest</li>
                    <li>Reduce premium</li>
                    <li>Purchase paid-up additions</li>
                    <li>Reduce loan balance</li>
                </ul>
            </td>
        </tr>
        <tr role="row">
            <th style="height: 35px; text-align: left;">Underwriting Classes</th>
            <td style="height: 35px;">
                <ul>
                    <li>Preferred nontobacco</li>
                    <li>Standard plus nontobacco</li>
                    <li>Standard nontobacco</li>
                    <li>Preferred tobacco</li>
                    <li>Standard tobacco</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="height: 35px; text-align: left;"><strong>Rated Underwriting </strong></td>
            <td style="height: 35px;">Non-tobacco and tobacco substandard</td>
        </tr>
        <tr>
            <td style="height: 35px; text-align: left;"><strong>Maximum Table Rating </strong></td>
            <td style="height: 35px;">Table P</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h3 dir="ltr">Additional Information</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th style="text-align: left;">&nbsp;</th>
            <td><strong>Legacy</strong></td>
            <td><strong>Legacy 121</strong></td>
            <td><strong>Liberty Select</strong></td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Target Markets</th>
            <td>
                <p>Clients seeking:</p>

                <ul>
                    <li>&nbsp;Guarantees</li>
                    <li>The ability to max fund a policy</li>
                    <li>The potential to increase the death<br>
                        benefit and cash value with the paid-up additional insurance dividend option</li>
                </ul>

                <p>With guarantees and cash value<br>
                    accumulation, Legacy can be an ideal<br>
                    fit for clients using the LEAP Economic<br>
                    Planning Systems to grow and protect their money.</p>
            </td>
            <td style="width: 106px;">Clients who prefer to pay the lowest premium for a permanent whole<br>
                life insurance policy while building moderate guaranteed cash value<br>
                and death benefits</td>
            <td>
                <p>Clients wanting:</p>

                <ul>
                    <li>A paid-up policy at a certain date</li>
                    <li>To build retirement income</li>
                    <li>Coverage on juvenile applicants</li>
                </ul>
            </td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Maturity</th>
            <td>Age 100</td>
            <td>Age 121</td>
            <td>
                <p style="text-align: left;">Age 100</p>
            </td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Minimum Face Amount</th>
            <td>
                <ul>
                    <li>$25,000 standard and substandard</li>
                    <li>$100,000 preferred and</li>
                    <li>standard plus</li>
                </ul>
            </td>
            <td>$100,000</td>
            <td>
                <ul>
                    <li>&nbsp;$25,000</li>
                    <li>$100,000 for preferred and standard plus</li>
                </ul>
            </td>
        </tr>
        <tr role="row">
            <th style="height: 35px; text-align: left;">Maximum Face Amount</th>
            <td>Non specified, subject to underwriting</td>
            <td>&nbsp;</td>
            <td style="height: 35px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 35px; text-align: left;"><strong>Bands</strong></td>
            <td>
                <ul>
                    <li>Band 1: $25,000–$49,999</li>
                    <li>Band 2: $50,000–$99,999</li>
                    <li>Band 3: $100,000–$249,999</li>
                    <li>Band 4: $250,000–$999,999</li>
                    <li>Band 5: $1 million+</li>
                </ul>
            </td>
            <td>No banding. Unit cost distinction by size achieved by the use of a single policy fee.</td>
            <td style="height: 35px;">
                <ul>
                    <li>Band 0: $10,000–$49,999</li>
                    <li>Band 1: $50,000–$99,999</li>
                    <li>Band 2: $100,000–$499,999</li>
                    <li>Band 3: $500,000–$999,999</li>
                    <li>Band 4: $1 million+</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <p dir="ltr"><strong>Note: </strong>All guarantees are subject to the claims-paying ability of American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <h3 dir="ltr">Premium Information</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th style="text-align: left;">&nbsp;</th>
            <td style="text-align: left;"><strong>Legacy</strong></td>
            <td style="text-align: left;"><strong>Legacy 121</strong></td>
            <td style="text-align: left;"><strong>Liberty Select</strong></td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Premiums</th>
            <td style="text-align: left;">
                <ul>
                    <li>Guaranteed level premiums</li>
                    <li>Tobacco, risk class and gender distinct</li>
                </ul>
            </td>
            <td style="text-align: left;">
                <ul>
                    <li>Guaranteed level premiums</li>
                    <li>Tobacco, risk class and gender distinct</li>
                </ul>
            </td>
            <td style="text-align: left;">
                <ul>
                    <li>Guaranteed level premiums</li>
                    <li>Guaranteed paid-up premium periods</li>
                    <li>Choice of premium-payment periods</li>
                    <li>Tobacco, risk class and gender distinct</li>
                    <li>(unisex rates available for qualified plans)</li>
                </ul>

                <p>&nbsp;</p>
            </td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Premium options</th>
            <td style="text-align: left;">Annual, semi-annual, quarterly and monthly automatic premium payment (APP)</td>
            <td style="text-align: left;">Annual, semi-annual, quarterly and monthly automatic premium payment (APP)</td>
            <td style="text-align: left;">Annual, semi-annual, quarterly and monthly automatic premium payment (APP)</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <p dir="ltr"><strong>Note:</strong> All guarantees are subject to the claims-paying ability of American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <h2 dir="ltr">Whole Life Riders</h2>

    <p dir="ltr">Life insurance riders are features your clients can add to:</p>

    <ul dir="ltr">
        <li>Increase total coverage</li>
        <li>Enhance policy values</li>
        <li>Obtain insurance on loved ones</li>
        <li>Keep coverage in force</li>
    </ul>

    <h3 dir="ltr">Rider Availability At-a-Glance</h3>

    <p dir="ltr">Click the links below to learn about whole life riders.&nbsp;</p>

    <h4 dir="ltr">Increase Total Coverage</h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th>&nbsp;</th>
            <td>Legacy</td>
            <td>Legacy 121</td>
            <td>Liberty Select</td>
        </tr>
        <tr>
            <td><a href="/wps/wcm/connect/indcontent/oso/tables/product-tables/life-insurance-riders/increase-total-coverage/accelerator_paid-up_additions_rider_puar" target="_blank">Accelerator Paid-Up Additions Rider (PUAR)</a>: Enhances the overall death benefit and more quickly builds cash value.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr role="row">
            <td style="height: 18px;">Blended Insurance Rider: Allows the policy owner to use declared dividends to purchase more life insurance protection.</td>
            <td style="height: 18px;">√</td>
            <td style="height: 18px;">&nbsp;</td>
            <td style="height: 18px;">√</td>
        </tr>
        <tr>
            <td>Enhanced Blended Insurance Rider: Allows clients to choose a specified amount of blended insurance coverage along with a base face amount. The rider premium and dividends credited to the policy purchase a combination of one-year term and paid-up additions equal to the amount that the client specifies.</td>
            <td>&nbsp;</td>
            <td>√</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Guaranteed Insurability Option Rider: Allows the policy owner to increase the life insurance protection at scheduled future dates without providing proof of health.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h4 dir="ltr">Enhance Policy Values</h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th>&nbsp;</th>
            <td>Legacy</td>
            <td>Legacy 121</td>
            <td>Liberty Select</td>
        </tr>
        <tr>
            <td style="height: 36px;">Blend Accelerator PUAR: Allows the policy owner to use declared dividends to purchase more life insurance protection.</td>
            <td style="height: 36px;">√</td>
            <td style="height: 36px;">√</td>
            <td style="height: 36px;">√</td>
        </tr>
        <tr>
            <td>Premium Deposit Account Rider: Credits interest to the account on the policy anniversary for monthly payments of $10 or more.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td>Preferred Loan Rate Rider: Offers a reduced loan rate which is applied to the entire loan after the policy has been in place for ten years or more and after attaining age 65 or more.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td>Indexed Dividend Option: Allows the ability to increase the dividend based on the performance of the S&amp;P 500. Dividends are not guaranteed.</td>
            <td>√</td>
            <td>√</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h4 dir="ltr">Obtain Insurance on Loved Ones</h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th>&nbsp;</th>
            <td>Legacy</td>
            <td>Legacy 121</td>
            <td>Liberty Select</td>
        </tr>
        <tr>
            <td>Children’s Benefit Rider: Allows the purchase of temporary life insurance on the insured’s biological, step and legally adopted children. The policy owner can also convert to permanent life insurance protection when the temporary coverage expires for each child.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td style="height: 36px;">Same Insured and Other Insured Term Riders: Allows your clients to add level term insurance coverage to their policy for the insured and up to two other individuals Coverage is available in level term periods of 10, 15, 20 or 30 years.</td>
            <td style="height: 36px;">√</td>
            <td style="height: 36px;">&nbsp;</td>
            <td style="height: 36px;">&nbsp;</td>
        </tr>
        <tr role="row">
            <td style="height: 18px;">Survivor Purchase Option Rider: Allows your clients to make plans for their estate with flexibility. SPO guarantees flexible options for the purchase of life insurance after the death of the primary insured. It allows the surviving spouse to assess his/her situation at a future point in time and then make decisions.</td>
            <td style="height: 18px;">√</td>
            <td style="height: 18px;">√</td>
            <td style="height: 18px;">√</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h4 dir="ltr">Keep Coverage in Force</h4>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th>&nbsp;</th>
            <td>Legacy</td>
            <td>Legacy 121</td>
            <td>Liberty Select</td>
        </tr>
        <tr>
            <td>Chronic Illness Rider: Prepays a portion of the death benefit if the primary insured has been diagnosed as chronically ill.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td style="height: 36px;">Credit of Paid-up Additions for Disability Rider</td>
            <td style="height: 36px;">√</td>
            <td style="height: 36px;">√</td>
            <td style="height: 36px;">√</td>
        </tr>
        <tr role="row">
            <td style="height: 18px;">Terminal Illness Rider: Prepays a portion of the death benefit if the primary insured has been diagnosed as terminally ill with 12 months or less to live.</td>
            <td style="height: 18px;">√</td>
            <td style="height: 18px;">√</td>
            <td style="height: 18px;">√</td>
        </tr>
        <tr role="row">
            <td>Waiver of Premium Disability Rider: Assures the policy remains active if the primary insured becomes disabled.</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h2 dir="ltr">Fees, Surrender Charges and Access to Cash Value</h2>

    <h3 dir="ltr">Fees</h3>

    <hr dir="ltr">
    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid" style="height: 63px;">
        <tbody>
        <tr role="row">
            <th>Legacy</th>
            <th>Legacy 121</th>
            <th>Liberty Select</th>
        </tr>
        <tr role="row">
            <td style="height: 23px;">No policy fee</td>
            <td style="height: 23px;">$100 annual policy fee (included in the annual premium)</td>
            <td style="height: 23px;">No policy fee</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <hr dir="ltr">
    <h3 dir="ltr">Surrender Charges</h3>

    <p dir="ltr">None</p>

    <hr dir="ltr">
    <h3 dir="ltr">Access to Cash Value</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid" style="height: 63px;">
        <tbody>
        <tr role="row">
            <td>&nbsp;</td>
            <th>Legacy</th>
            <th>Legacy 121</th>
            <th>Liberty Select</th>
        </tr>
        <tr role="row">
            <td><strong>Maximum Loan Amount</strong></td>
            <td style="height: 23px;">End of current years' total cash value - previous year's loan balance - one modal premium</td>
            <td style="height: 23px;">End of current years' total cash value - previous year's loan balance - one modal premium</td>
            <td style="height: 23px;">100% of cash value</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <p dir="ltr"><strong>Note:</strong> If clients choose to take loans, the death benefit payable to the beneficiaries will be reduced.</p>

    <p dir="ltr">If a life insurance policy lapses with loans outstanding, the loan amount becomes subject immediately to federal income tax and if the insured is under age 59 ½, he or she may be subject to an additional 10 percent tax penalty.</p>

    <h2 dir="ltr">Sample Policy and Rider Pages</h2>

    <p dir="ltr">Click the links below for quick access to standard versions of policy and rider pages. See details about how the features work. Note that all policy and rider form number series are subject to the limitations described in the policy and rider pages, state availability and state variations.</p>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td>Whole Life Policy Pages</td>
            <td>Guaranteed Insurability Option Rider</td>
        </tr>
        <tr role="row">
            <td>Accelerator Paid-up Additions Rider PUAR</td>
            <td>Indexed Dividend Option</td>
        </tr>
        <tr role="row">
            <td>Blend Accelerator PUAR</td>
            <td>Preferred Loan Rate Rider</td>
        </tr>
        <tr role="row">
            <td>Blended Insurance Rider</td>
            <td>Premium Deposit Account Rider</td>
        </tr>
        <tr role="row">
            <td>Children's Benefit Rider</td>
            <td>Same Insured and Other Insured Term Riders</td>
        </tr>
        <tr>
            <td>Chronic Illness Rider</td>
            <td>Survivor Purchase Option Rider</td>
        </tr>
        <tr>
            <td>Credit of Paid-up Additions for Disability Rider</td>
            <td>Terminal Illness Rider</td>
        </tr>
        <tr>
            <td>Enhanced Blended Insurance Rider</td>
            <td>Waiver of Premium Disability Rider</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h2 dir="ltr">State Approvals</h2>

    <p dir="ltr">The whole life product suite is approved in most states. State variations may apply.&nbsp;</p>

    <h3 dir="ltr">State Limitations&nbsp;</h3>

    <ul dir="ltr">
        <li>OneAmerica is not licensed in New York.</li>
        <li>Products and features are not approved in a few states.</li>
    </ul>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <th>&nbsp;</th>
            <td><strong>Chronic and Terminal Illness Riders</strong></td>
            <td><strong>Credit of Paid-Up Additions for Disability for Disability Riders</strong></td>
            <td><strong>Enhanced Blended Insurance Rider</strong></td>
            <td><strong>Indexed Dividend Option Rider</strong></td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">California</th>
            <td>Not available</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Hawaii</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Not available</td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Maryland</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Not available</td>
            <td>&nbsp;</td>
        </tr>
        <tr role="row">
            <th style="text-align: left;">Massachusetts</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Not available</td>
        </tr>
        <tr>
            <th style="text-align: left;">New Jersey</th>
            <td>&nbsp;</td>
            <td>Not available</td>
            <td>&nbsp;</td>
            <td>Not available</td>
        </tr>
        <tr>
            <th style="text-align: left;">Pennsylvania</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Not available</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr"><strong>Note: </strong>Instead of the Chronic and Terminal Illness Riders, the Accelerator Death Benefit Rider LR-151 is available in California.</p>

    <h2 dir="ltr"><strong>Producer Materials</strong></h2>

    <p dir="ltr">Get educated on ways you can help your clients protect their financial future with the whole life product suite.</p>

    <p dir="ltr">View samples of sales and marketing collateral below. To order materials for the states where you do business, contact the <a href="mailto:oasalesdesk@oneamerica.com">OneAmerica Sales Desk</a> at <a href="tel:+1-877-999-9883">1 (877) 999-9883</a><br>
        &nbsp;</p>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td style="text-align: left;">
                <p><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-29168_future_life_insurance_deep_dive">Future Life Insurance Deep Dive (I-29168)</a></p>

                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/1/I-29168_GiftingLifeInsuranceProSh_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/1" style="border: 0px currentColor; border-image: none; float: left;">See a comparison of GIO, SITR and SPO on product features and overall cost.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td style="text-align: center;">
                <p style="text-align: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28726_ido_deep_dive">IDO Deep Dive (I-28726)</a></p>

                <p style="text-align: left;"><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/2/I-28726_IndexingDividendsProducerDeepDive_thmb+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/2" style="border: 0px currentColor; border-image: none; float: left;">Learn about dividend indexing and its advantages and considerations.</p>

                <p style="text-align: left;">&nbsp;</p>

                <p style="text-align: left;">&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <p><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-22720_spo_producer_guide">SPO Producer Guide (I-22720)</a></p>

                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/3/I-22720_SPORiderProducerGuide_THMB+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/3" style="border: 0px currentColor; border-image: none; float: left;">See three SPO options in action and go through three vignettes that show how SPO can make sense for your clients.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td style="text-align: center;">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h2 dir="ltr"><strong>Client Materials</strong></h2>

    <p dir="ltr">You can use marketing pieces to reach prospective clients.</p>

    <p dir="ltr">Use the consumer brochure to tell all about OneAmerica whole life insurance. Add rider materials for a personalized experience for each potential client.</p>

    <p dir="ltr">View sample materials below and in the above whole life client-facing materials tab. To order materials, contact the <a href="mailto:oasalesdesk@oneamerica.com">OneAmerica Sales Desk</a> at <a href="tel:+1-877-999-9883">1-877-999-9883</a>.</p>

    <h3 dir="ltr"><strong>Dividend Materials&nbsp;</strong></h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr>
            <td style="width: 376px;">
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/4/I-24556_DividendStoryConsumerBrochure_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/4" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-24556_the_dividend_story">The Dividend Story (I-24556)</a></p>

                <p>Explain what dividends are and show the value of having a dividend participating policy.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td style="width: 317px;">
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/5/I-28136_DeepDive_DirectvsIndirectRecognitionDS_Client_thmb+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/5" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28136_direct_vs_indirect_recognition">Direct vs. Indirect Recognition (I-28136)</a></p>

                <p>Explain how OneAmerica credits dividends and how the approach can make a big difference in accumulating cash value.</p>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h3 dir="ltr"><strong>Riders to Increase Total Coverage</strong></h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/6/I-28630_BIR_ShCons_thmb.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/6" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28630_bir_consumer_sheet">BIR Consumer Sheet (I-28630)</a></p>

                <p>Show at a high level how the Blended Insurance Rider works.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/7/I-28635_PUA_ShCons_thmb+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/7" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28635_puar_consumer_sheet">PUAR Consumer Sheet (I-28635)</a></p>

                <p>Go through Paid-Up Additions Rider functions.</p>

                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/8/I-28633_GIO_ShCons_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/8" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28633_gio_consumer_sheet">GIO Consumer Sheet (I-28633)</a></p>

                <p>Go through how the Guaranteed Insurability Option functions.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h3 dir="ltr">Riders to Enhance Policy Values</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/9/I-28645_IndexedDividendOption_Cons_SH_PRESS_THMB+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/9" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28645_ido_consumer_sheet">IDO Consumer Sheet (I-28645)</a></p>

                <p>Show at a high level how the Indexed Dividend Crediting Option works.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/10/I-28713_IDODeepDiveConsSh_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/10" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28713_ido_deep_dive">IDO Deep Dive (I-28713)</a></p>

                <p>See examples of how IDO can possibly double the dividend.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/11/I-28634_PDA_ShCons_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/11" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28634_pda_consumer_sheet">PDA Consumer Sheet (I-28634)</a></p>

                <p>Review the Premium Deposit Account Rider at a glance.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/12/I-29456+PLRR+Cons+Sh_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/12" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-29456_plrr_consumer_sheet">PLRR Consumer Sheet (I-29456)</a></p>

                <p>Examine the Preferred Loan Rate Rider at a high level.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h3 dir="ltr">Riders to Obtain Insurance on Loved Ones</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/13/I-28631_CBR_SH_Cons_thmb+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/13" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28631_cbr_consumer_sheet">CBR Consumer Sheet (I-28631)</a></p>

                <p>Review the Children’s Benefit Rider at a glance.</p>

                <p>&nbsp;</p>
            </td>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/14/I-28636_SITROITR_ShCons_thmb+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/14" style="border: 0px currentColor; border-image: none; float: left;"><u>SITR OITR Consumer Sheet</u> (I-28636)</p>

                <p>Show at a high level how the Same Insured and Other Insured Term Rider work.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/15/I-22721_SPORiderPOSRiderPress_thmb.fw+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/15" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-22721_spo_consumer_brochure">SPO Consumer Brochure (I-22721)</a></p>

                <p>Examine how the Survivor Purchase Option Rider works in detail with examples for clients.</p>

                <p>&nbsp;</p>
            </td>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/16/I-29499+SPO+Three+Vignettes+Pro+Bro+Thmb1.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/16" border="0" style="float: left;" title=""><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-29499_spo_three_vignettes">SPO Three Vignettes (I-29499)</a></p>

                <p>Explore various situations when SPO can provide funds to an estate.</p>

                <p>&nbsp;</p>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <h3 dir="ltr">Riders to Keep Coverage in Force</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
        <tbody>
        <tr role="row">
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/17/I-28632+CIR+ShCons_thmb+100.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/17" style="border: 0px currentColor; border-image: none; float: left;"><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-28632_cir_consumer_sheet">CHR and TIR Consumer Sheet (I-28632)</a></p>

                <p>Examine the Chronic and Terminal Illness Riders at a high level.</p>
            </td>
            <td>
                <p><img src="/wps/wcm/connect/3fe520c8-79be-4bad-969b-7391c66c92a3/18/I-24864+Chronic+and+Terminal+Illness+Rider+Client+Bro+Thumbnail1.png?MOD=AJPERES&amp;CACHEID=3fe520c8-79be-4bad-969b-7391c66c92a3/18" border="0" style="float: left;" title=""><a href="/wps/wcm/connect/indcontent/oso/documents/products+-+whole+life+%28docs%29/i-24864_cir_and_tir_consumer_brochure">CHR and TIR Consumer Brochure (I-24864)</a></p>

                <p>Show clients how the Chronic and Terminal Illness Riders work in a way that’s easy to understand.</p>

                <p>&nbsp;</p>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row table-responsive-instruction" dir="ltr">
        <div class="col-xs-12 align-center">
            <p class="text-info inline">swipe/scroll to view entire table</p>
        </div>
    </div>

    <p dir="ltr">&nbsp;</p>

    <p dir="ltr">&nbsp;</p>


    <hr>
    <p dir="ltr"><strong>Note</strong><br>
        OneAmerica is the marketing name for American United Life Insurance Company<sup>®</sup> (AUL).</p>

    <p dir="ltr">Products are issued and underwritten by AUL, Indianapolis, IN, a OneAmerica company. Legacy, Legacy 121 and Liberty Select form number series L-59. May not be available in all states and may vary by state. All guarantees are subject to the claims-paying ability of AUL.</p>

    <p dir="ltr">All guarantees are subject to the claims-paying ability of AUL.</p>

    <p dir="ltr">Provided content is for overview and informational purposes only and is not intended as tax, legal, fiduciary or investment advice.</p>


</div>