<div class="page-content">
    <div class="page-header">
        <h1>Asset-Care</h1>
    </div>

    <div class="clearfix">
        <div class="tabbable tabbable-in-content">
            <ul class="nav nav-tabs" id="myTab4">

                <li class="active"> <a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#client-facing" data-toggle="tab">
                    Marketing Campaigns
                </a>
                </li>

                <li> <a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#producer-facing" data-toggle="tab">
                    All About Care Solutions
                </a>
                </li>
            </ul>


            <div class="tab-content clearfix">
                <div id="client-facing" class="tab-pane in active">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="./asset-care_files/annuitycare.jpg" border="0" width="157" height="213">
                        </div>

                        <div class="col-md-8">
                            <ul class="list-unstyled">

                                <ul dir="ltr">
                                    <li><a href="https://www.oneamerica.com/campaigns/ilfs/ilfs?toutURI=%2Fcampaigns%2FAsset-Based-LTC%23Tout-ILFS-campaigns&amp;toutTitle=Get%20the%20latest%20info">LTC Marketing Toolbox</a></li>
                                </ul>


                            </ul>
                        </div>
                    </div>
                </div>
                <div id="producer-facing" class="tab-pane">
                    <ul class="list-unstyled">

                        <ul dir="ltr">
                            <li><a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#">Asset-Based LTC Solutions Product Overview &amp; Training Guide</a></li>
                            <li><a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#">Care Solutions Product Overview &amp; Training Guide</a></li>
                            <li><a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#">Two Simple Questions You Should Ask</a></li>
                            <li><a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#">LTC Awareness Workbook</a></li>
                            <li><a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#">The Pension Protection Act &amp; Long-Term Care FAQ</a></li>
                        </ul>


                    </ul>
                </div>
            </div>
        </div>

        <div class="jumplinks-traveling" id="jumplinks-traveling">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">
                On this page
                <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>
                <ul class="dropdown-menu dropdown-info dropdown-menu-left">
                    <li><a href="#Policy-Structure">Policy Structure</a></li>
                    <li><a href="#All-Asset-Care-Options">All Asset-Care Options</a></li>
                    <li><a href="#Additional-Information">Additional-Information</a></li>
                    <li><a href="#Guarantees">Guarantees</a></li>
                    <li><a href="#Long-Term-Care-Benefits">Long-Term Care Benefits</a></li>             
                </ul>
            </div>
            <!-- /.btn-group -->
        </div>
        <!-- /.jumplinks-traveling -->


        <h2 dir="ltr"><a id="Policy-Structure">Policy Structure</a></h2>
        <div class="table-responsive">
            <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
                <tbody>
                <tr role="row">
                    <th>Asset-Care I</th>
                    <td>&nbsp;Single-premium current interest whole life insurance</td>
                </tr>
                <tr role="row">
                    <th>Asset-Care II</th>
                    <td><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Nonqualified annuity and 20-pay current interest whole life insurance</span></span></td>
                </tr>
                <tr role="row">
                    <th>Asset-Care III</th>
                    <td><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Individual retirement annuity (IRA) and 20-pay current interest whole life insurance</span></span></td>
                </tr>
                <tr role="row">
                    <th>Asset-Care IV</th>
                    <td>
                        <ul>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Annual-premium current interest whole life insurance with accelerated death benefits for qualifying LTC expenses</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Two options: limited (10–20) pay or whole-life pay</span></span></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 dir="ltr"><a id="All-Asset-Care-Options">All Asset-Care Options</a></h2>
        <div class="table-responsive">
            <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
                <tbody>
                <tr role="row">
                    <th><strong><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Sweet Spot</span></span></strong></th>
                    <td>
                        <ul>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">100% of death benefit available for qualifying LTC expenses (LTC benefits paid monthly). See outlines of coverage and illustrations for complete LTC coverage details.</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Patented joint-life insurance option provides benefits for both insureds with a second-to-die death benefit</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Optional noncancelable lifetime LTC coverage</span></span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Issuing Company</th>
                    <td>The State Life Insurance Company<sup>®</sup></td>
                </tr>
                <tr role="row">
                    <th>
                        <p><strong><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Underwriting Classes</span></span></strong></p>

                        <p><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">(Life policy)</span></span></p>
                    </th>
                    <td>
                        <ul>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Preferred (nontobacco)</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Standard (tobacco)</span></span></li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <th>
                        <p><strong><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">Rated Underwriting</span></span></strong></p>

                        <p><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">(Life policy)</span></span></p>
                    </th>
                    <td>Up to eight tables on morbidity and mortality</td>
                </tr>
                <tr role="row">
                    <th><strong><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">State-Specific Requirements</span></span></strong></th>
                    <td>
                        <ul>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">In CA, the minimum LTC benefit is $1,500 per month.</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">In MN, the minimum specified amount is $50,000.</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">In NC, the minimum LTC benefit is $760.50 per month.</span></span></li>
                            <li><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 10pt;">In WI, the minimum LTC benefit is $1,800 per month.</span></span></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 dir="ltr"><a id="Additional-Information">Additional Information</a></h2>

        <div class="table-responsive" >
            <table class="data-table table table-striped table-bordered table-hover" role="grid">
                <thead>
                <tr role="row">
                    <th style="width: 88px;">&nbsp;</th>
                    <th style="width: 220px;">Asset-Care I</th>
                    <th style="width: 208px;">Asset-Care II</th>
                    <th style="width: 200px;">Asset-Care III</th>
                    <th style="width: 129px;">Asset-Care IV</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row">
                    <td style="width: 88px;"><strong>Issue Ages</strong></td>
                    <td style="width: 220px;">
                        <ul>
                            <li>Single: 35–80&nbsp;</li>
                            <li>Joint: 35–80 (must have joint equal age of 40–80</li>
                            <li>Maximum 25-year age difference between unrated joint insureds</li>
                        </ul>
                    </td>
                    <td style="width: 208px;">
                        <ul>
                            <li>Single: 59½–80</li>
                            <li>Joint: Annuitant must be 59½–80, spouse must be 40–80 (joint equal age cannot exceed 80</li>
                            <li>Maximum 25-year age difference between unrated joint insureds</li>
                        </ul>
                    </td>
                    <td style="width: 200px;">
                        <ul>
                            <li>Single: 59½–80</li>
                            <li>Joint: 59½–80 (must have joint equal age of 40–80)&nbsp;</li>
                            <li>Maximum 25-year age difference between unrated joint insureds</li>
                        </ul>
                    </td>
                    <td style="width: 129px;">
                        <ul>
                            <li>20–80</li>
                            <li>Maximum 25-year age difference between unrated joint insureds</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <td style="width: 89px;"><strong>Target Market Ages</strong></td>
                    <td style="width: 202px;">50–75</td>
                    <td style="width: 201px;">50–75</td>
                    <td style="width: 201px;">50–75</td>
                    <td style="width: 129px;">45-65</td>
                </tr>
                <tr role="row">
                    <td style="width: 83px;"><strong>Policy Form Number</strong></td>
                    <td style="width: 221px;">
                        <p>L301 and R501</p>
                    </td>
                    <td style="width: 209px;">L301, R501 and SA31</td>
                    <td style="width: 179px;">L301, R501 and SA31</td>
                    <td style="width: 91px;">
                        <p>L301 and R501</p>
                    </td>
                </tr>
                <tr role="row">
                    <td style="width: 83px;"><strong>Type of Contract for Tax Purpose</strong></td>
                    <td style="width: 221px;">
                        <ul>
                            <li>Modified endowment contact (MEC).</li>
                            <li>Loans and withdrawals taxable to extent of gain in contract.</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 209px;">
                        <ul>
                            <li>Non-qualified annuity - taxed as annuity</li>
                            <li>Life insurance - life policy considered a MEC</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 179px;">
                        <ul>
                            <li>IRA - withdrawals are taxable.</li>
                            <li>Life insurance - life policy considered a MEC.</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 91px;">&nbsp;</td>
                </tr>
                <tr role="row">
                    <td style="width: 83px;"><strong>Minimum Death Benefit </strong></td>
                    <td style="width: 221px;">&nbsp;</td>
                    <td style="width: 209px;">&nbsp;</td>
                    <td style="width: 179px;">&nbsp;</td>
                    <td style="width: 91px;">
                        <ul>
                            <li>Ages 20–50: $100,000</li>
                            <li>Ages 51–80: $50,000</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <td style="width: 83px;"><strong>Maximum Death Benefit</strong></td>
                    <td style="width: 221px;">$1,500,000</td>
                    <td style="width: 209px;">$1,500,000 total initial benefits</td>
                    <td style="width: 179px;">$1,500,000 total initial benefits</td>
                    <td style="width: 91px;">$1,500,000</td>
                </tr>
                <tr role="row">
                    <td style="width: 83px;"><strong>Minimum Interest Rate for Annuity Contracts</strong></td>
                    <td style="width: 221px;">&nbsp;</td>
                    <td style="width: 209px;">
                        <ul>
                            <li>Varies by state</li>
                            <li>Refer to a policy illustration for specific information</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 179px;">← Same as Asset-Care II</td>
                    <td style="width: 91px;">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 dir="ltr"><a id="Guarantees">Guarantees</a></h2>

        <div class="table-responsive">
            <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
                <tbody>
                <tr role="row">
                    <th>Asset-Care I</th>
                    <td>
                        <ul>
                            <li>Return of premium (all years)&nbsp;</li>
                            <li>Minimum 4% interest rate&nbsp;</li>
                            <li>No additional premium required&nbsp;</li>
                            <li>Cash value growth&nbsp;</li>
                            <li>Death benefit</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <th>Asset-Care II</th>
                    <td>
                        <ul>
                            <li>Return of premium (all years)</li>
                            <li>Minimum 4% interest rate on life policy</li>
                            <li>Minimum 3% interest rate on annuity policy</li>
                            <li>Life policy LTC benefits increase over a 20-year premium payment period</li>
                            <li>Life premium will not increase</li>
                            <li>Cash value growth</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <th>Asset-Care III</th>
                    <td>
                        <ul>
                            <li>Return of premium (all years)</li>
                            <li>Minimum 4% interest rate on life policy</li>
                            <li>Minimum 3% interest rate on annuity policy</li>
                            <li>Life policy LTC benefits increase over a 20-year premium payment period</li>
                            <li>Life premium will not increase</li>
                            <li>Annuity policy guaranteed to fund 20-pay life policy</li>
                            <li>Cash value growth</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <th>Asset-Care IV</th>
                    <td>
                        <ul>
                            <li>Minimum 4% credited interest rate</li>
                            <li>Premiums never increase</li>
                            <li>Values support the policy for life, provided the client makes all scheduled premium payments</li>
                            <li>Death benefit</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>    
        <p dir="ltr"><strong>Note:</strong><br>
            All guarantees are subject to the claims-paying ability of The State Life Insurance Company<sup>®</sup> (State Life).</p>

        <p dir="ltr"><strong>Asset-Care I:</strong><br>
            The single premium paid for the base policy is returned at surrender, unless the cash surrender value is greater. Any prior distributions reduce the return of premium. ROP does not apply to acceleration options or the continuation of benefits premium.</p>

        <h2 dir="ltr"><a id="Long-Term-Care-Benefits">Long-Term Care Benefits</a></h2>

        <div class="table-responsive">
            <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
                <tbody>
                <tr role="row">
                    <th><strong>LTC Benefits</strong></th>
                    <td>
                        <ul>
                            <li>Option to use LTC benefits up to 3% or 4% per month, per insured (additional premium required)</li>
                            <li>No surrender charges apply to qualifying LTC benefits</li>
                            <li>Asset-Care Plus can extend LTC benefit to provide additional coverage</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <th><strong>LTC Maximum Monthly Payout Options</strong></th>
                    <td>
                        <ul>
                            <li>2% (standard), 3% or 4% (available with additional premium).</li>
                            <li>Lifetime Continuation of Benefits option available on 2% monthly acceleration.</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <th><strong>LTC Waiting Period</strong></th>
                    <td>After 60 days of qualified LTC received (within a 180-day period), Asset-Care will begin paying benefits. In most states the waiting period for home health care benefits is 30 days.</td>
                </tr>
                <tr role="row">
                    <th>LTC Coverage</th>
                    <td>
                        <ul>
                            <li>Care in an LTC facility (all levels)</li>
                            <li>Care in an assisted living facility</li>
                            <li>Home health care, including homemaker services</li>
                            <li>Hospice care</li>
                            <li>Adult day care</li>
                            <li>Respite care</li>
                            <li>Bed reservation</li>
                            <li>Care coordination</li>
                            <li>Caregiver training</li>
                            <li>Supportive equipment</li>
                            <li>International coverage</li>
                        </ul>

                        <p>(Coverage can vary by state. Benefit details can be found in the outline of coverage, including information on policy exclusions and limitations. Producers must provide the outline of coverage to applicants.)</p>
                    </td>
                </tr>
                <tr role="row">
                    <th><strong>Activities of Daily Living</strong></th>
                    <td>
                        <ul>
                            <li>Bathing</li>
                            <li>Dressing</li>
                            <li>Using the toilet</li>
                            <li>Transferring to or from a bed or chair</li>
                            <li>Caring for incontinence</li>
                            <li>Eating</li>
                        </ul>

                        <p>Qualification for an LTC payout is based on receiving care because of being unable to perform two of six activities of daily living or being cognitively impaired.</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 dir="ltr">LTC Benefits - Additional Information</h2>

        <div class="table-responsive" >
            <table class="data-table table table-striped table-bordered table-hover" role="grid">
                <thead>
                <tr role="row">
                    <th>&nbsp;</th>
                    <th><strong>Asset-Care I</strong></th>
                    <th style="width: 73.5px;"><strong>Asset-Care II</strong></th>
                    <th style="width: 85.5px;"><strong>Asset-Care III</strong></th>
                    <th style="width: 85.5px;"><strong>Asset-Care IV</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr role="row">
                    <td><strong>LTC Benefits</strong></td>
                    <td>Policy provides up to 2% of death benefit per month, per insured, subject to policy limits, for qualifying LTC expenses.</td>
                    <td style="width: 73.5px;">
                        <ul>
                            <li>Policy provides up to 2% of annuity value and up to 2% of life insurance death benefit per month, per insured, subject to policy limits, for qualifying LTC expenses.</li>
                            <li>The LTC monthly benefit percentage must match the base policy.</li>
                        </ul>
                    </td>
                    <td style="width: 85.5px;">
                        <ul>
                            <li>Percentage matches what was chosen for the base policy.</li>
                            <li>Policy provides up to 2% of annuity value and up to 2% of life insurance death benefit per month, per insured, subject to policy limits. Applies to nursing facility, assisted living and home care.</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 85.5px;">Policy provides up to 2% of death benefit per month, per insured, subject to policy limits, for qualifying LTC expenses.</td>
                </tr>
                <tr role="row">
                    <td><strong>Minimum LTC Benefit</strong></td>
                    <td>&nbsp;</td>
                    <td style="width: 73.5px;">&nbsp;</td>
                    <td style="width: 85.5px;">&nbsp;</td>
                    <td style="width: 85.5px;">
                        <ul>
                            <li>Ages 20–50: $100,000</li>
                            <li>Ages 51–80: $50,000</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr role="row">
                    <td><strong>LTC Payout </strong>(All are reimbursement contracts)</td>
                    <td>On a monthly basis, the death benefit can be accelerated for qualifying LTC expenses.</td>
                    <td style="width: 73.5px;">Both the annuity cash value and the life policy death benefit can be used on a monthly basis for qualifying LTC expenses.</td>
                    <td style="width: 85.5px;">&nbsp;← Same as Asset-Care II</td>
                    <td style="width: 85.5px;">On a monthly basis, the death benefit can be accelerated for qualifying LTC expenses.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 dir="ltr">Premium Information and Funds Accepted</h2>

        <div class="table-responsive" >
            <table class="data-table table table-striped table-bordered table-hover" role="grid">
                <thead>
                <tr role="row">
                    <th>&nbsp;</th>
                    <th><strong>Asset-Care I</strong></th>
                    <th style="width: 73.5px;"><strong>Asset-Care II</strong></th>
                    <th style="width: 85.5px;"><strong>Asset-Care III</strong></th>
                    <th style="width: 85.5px;"><strong>Asset-Care IV</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr role="row">
                    <td><strong>Premium Type</strong></td>
                    <td>Single premium</td>
                    <td style="width: 73.5px;">
                        <ul>
                            <li>Annuity policy funded at issue</li>
                            <li>Whole life policy funded through annual withdrawals from annuity</li>
                            <li>Life policy paid up after 20 years</li>
                            <li>Premium amount guaranteed at issue</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 85.5px;">
                        <ul>
                            <li>IRA policy is funded at issue</li>
                            <li>Whole life policy is funded through annual withdrawals from annuity</li>
                            <li>Life policy is paid up after 20 years</li>
                            <li>Premium amount is guaranteed at issue</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 85.5px;">Annual</td>
                </tr>
                <tr role="row">
                    <td><strong>Minimum Premium</strong></td>
                    <td>$10,000</td>
                    <td style="width: 73.5px;">$20,000</td>
                    <td style="width: 85.5px;">$20,000</td>
                    <td style="width: 85.5px;">
                        <p>Amount necessary to support the following face amounts:</p>

                        <ul>
                            <li>Ages 20–50: $100,000</li>
                            <li>Ages 51–80: $50,000</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr role="row">
                    <td><strong>Billing Modes</strong></td>
                    <td>&nbsp;</td>
                    <td style="width: 73.5px;">&nbsp;</td>
                    <td style="width: 85.5px;">&nbsp;</td>
                    <td style="width: 85.5px;">
                        <ul>
                            <li>Annual: 1.0000</li>
                            <li>Semi-annual: 0.5200</li>
                            <li>Quarterly: 0.2650</li>
                            <li>Automatic monthly deduction: 0.0858</li>
                        </ul>
                    </td>
                </tr>
                <tr role="row">
                    <td><strong>Funds Accepted</strong></td>
                    <td>
                        <ul>
                            <li>CDs</li>
                            <li>Mutual funds</li>
                            <li>Savings and money markets</li>
                            <li>Life insurance policy 1035 exchange</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 73.5px;">
                        <ul>
                            <li>Nonqualified annuity</li>
                            <li>Life insurance policy 1035 exchange</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 85.5px;">
                        <ul>
                            <li>401(k) or Keogh</li>
                            <li>Any pension plan</li>
                            <li>SEP or IRA</li>
                        </ul>

                        <p>&nbsp;</p>
                    </td>
                    <td style="width: 85.5px;">Cash equivalents</td>
                </tr>
                </tbody>
            </table>
        </div>

        <p dir="ltr"><strong>Note:</strong></p>

        <p dir="ltr">All guarantees are subject to the claims-paying ability of The State Life Insurance Company<sup>®</sup> (State Life).</p>

        <h2 dir="ltr">Long-Term Care Benefits Continuation Rider</h2>

        <div class="table-responsive">
            <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
                <tbody>
                <tr role="row">
                    <th><strong>Description</strong></th>
                    <td>Your clients who exhaust their death benefit for LTC purposes can receive an extension on their LTC benefits. The premium for the rider is guaranteed to never increase — and clients can pay an annual premium, 10-pay, 20-pay or a single premium for the added protection. The rider also offers nonforfeiture benefits and inflation protection.</td>
                </tr>
                <tr role="row">
                    <th><strong>Rider Form Number</strong></th>
                    <td>R501</td>
                </tr>
                <tr role="row">
                    <th><strong>Issue Ages</strong></th>
                    <td>40–80</td>
                </tr>
                <tr role="row">
                    <th><strong>Available After Issue?</strong></th>
                    <td>No</td>
                </tr>
                <tr role="row">
                    <th><strong>Benefit Extension Period Available</strong></th>
                    <td>
                        <ul>
                            <li>Limited period that depends on the maximum monthly LTC option:
                                <ul>
                                    <li>2%=50 months extended benefits</li>
                                    <li>3%=33 months extended benefits</li>
                                    <li>4%= 25months extended benefits</li>
                                </ul>
                            </li>
                            <li>Lifetime</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h1 dir="ltr">Asset-Care II, III and IV</h1>

        <h2 dir="ltr">Waiver of Premium</h2>

        <div class="table-responsive">
            <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid">
                <tbody>
                <tr role="row">
                    <th><strong>Description</strong></th>
                    <td>Your clients can have their premium payments waived if they receive qualifying care and satisfy the waiting period.</td>
                </tr>
                <tr role="row">
                    <th><strong>Rider Form Number</strong></th>
                    <td>N/A. The feature is an option within the base policy L301.</td>
                </tr>
                <tr role="row">
                    <th><strong>Issue Ages</strong></th>
                    <td>40–80</td>
                </tr>
                <tr role="row">
                    <th><strong>Available After Issue?</strong></th>
                    <td>No</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p dir="ltr"><strong>Note:</strong> Benefit and rider costs vary. Refer to a policy illustration for specific information.</p>



        <h2>State Approvals</h2>

        <div id="accordion" class="accordion-style1 panel-group accordion-style2 accordion-style-headline margin-top-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> <a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#collapseOne" class="accordion-toggle collapsed" data-toggle="collapse" aria-expanded="false"> <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> State Approvals </a> </h4>
                </div>
                <!-- .panel-heading -->
                <div class="panel-collapse collapse" id="collapseOne" aria-expanded="false">
                    <div class="panel-body">
                        <div class="table-responsive">




                            <p>The Asset-Care product suite is approved in most states. State variations may apply.</p>

                            <h3>State Limitations</h3>

                            <ul>
                                <li>OneAmerica is not licensed in New York.</li>

                                <li>Products and features are not approved in several states.</li>
                            </ul>

                            <p>&nbsp;</p>

                            <div class="table-responsive" >
                                <table class="data-table table table-striped table-bordered table-hover" role="grid"><thead>
                                <tr role="row">
                                    <th>&nbsp;</th>
                                    <th><strong>Inflation Protection Rider</strong></th>
                                    <th style=" width: 73.5px;"><strong>Continuation of Benefits Rider</strong></th>
                                    <th style=" width: 85.5px;">Joint Coverage</th>
                                </tr>

                                </thead><tbody>
                                <tr role="row">
                                    <td>CA</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr role="row">
                                    <td>CT</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr role="row">
                                    <td>FL</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr role="row">
                                    <td>HI</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr role="row">
                                    <td>MA</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">Not available</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr role="row">
                                    <td>MN</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr role="row">
                                    <td>PA</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">Not available</td>
                                </tr>

                                <tr role="row">
                                    <td>TN</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td>TX</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td>WA</td>
                                    <td>Not available</td>
                                    <td style=" width: 73.5px;">&nbsp;</td>
                                    <td style=" width: 85.5px;">&nbsp;</td>
                                </tr>

                                </tbody></table>
                            </div>


                        </div>
                        <div class="row table-responsive-instruction">
                            <div class="col-xs-12 align-center"><i class="ace-icon fa fa-hand-o-right inline gray-60"></i>
                                <p class="text-info inline">swipe/scroll to view entire table</p>
                                <i class="ace-icon fa fa-hand-o-left inline gray-60"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h2>Client-Facing Materials</h2>

        <div id="accordion" class="accordion-style1 panel-group accordion-style2 accordion-style-headline margin-top-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> <a href="https://stonesourceonline.oneamerica.com/wps/wcm/connect/indcontent/OSO/product-pages/asset-care#collapseTwo" class="accordion-toggle collapsed" data-toggle="collapse" aria-expanded="false"> <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i> Client Facing Materials </a> </h4>
                </div>



            </div>
        </div>


    </div>
</div>




<hr>
<p dir="ltr"><strong>Not a deposit • Not FDIC or NCUSIF insured • Not guaranteed by the institution • Not insured by any federal government agency • May go down in value</strong></p>

<p dir="ltr">OneAmerica is the marketing name for The State Life insurance Company<sup>®</sup> (State Life), offering the Care Solutions product suite.</p>

<p dir="ltr">Products are issued and underwritten by State Life, Indianapolis, IN, a OneAmerica company that offers the Care Solutions product suite. Asset-Care I and IV form number series: L301 and R501. Asset-Care II and III form number series: L301, R501 and SA31. May not be available in all states and may vary by state. All guarantees are subject to the claims-paying ability of State Life. Asset-Care is a whole life insurance policy (in MD and PA, universal life) and annuity combination that allows access to 100 percent of the life policy death benefit and/or annuity accumulation value for qualifying LTC expenses (paid monthly).</p>

<p dir="ltr">Form numbers SA36, R529 PPA, R529, R530 PPA and R530 not available in all states, or may vary by state.</p>