<div class="well-logo-coe" title="Center of Excellence logo"></div>
<h4>
    <a id="coe-link" target="_blank" href="https://api.oneamerica.com/oso/secure/web/sso/pinpoint">
    Center of <span class="text-nowrap">Excellence<i class="ace-icon fa fa-external-link oa-banner-blue"></i></span>
    </a>
</h4>
<p>On-demand education and development to<br class="visible-lg"> enhance your business practice</p>