<div class="page-content">
    <div class="page-header">
        <h1>Single Premium Immediate Annuity</h1>
    </div>

    <div class="clearfix">
        <div class="tabbable tabbable-in-content">
            <ul class="nav nav-tabs" id="myTab4">

                <li class="active"> <a href="#client-facing" data-toggle="tab">
                    Producer Materials
                </a>
                </li>

                <li> <a href="#producer-facing" data-toggle="tab">
                    Client Materials
                </a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div id="client-facing" class="tab-pane in active">
                    <div class="row">
                        <div class="col-md-4">

                        </div>

                        <div class="col-md-8">

                            <p>Coming soon</p>

                        </div>
                    </div>
                </div>


                <div id="producer-facing" class="tab-pane">

                </div>
            </div>
        </div>


        <div class="jumplinks-traveling affix-top" id="jumplinks-traveling">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-link dropdown-toggle">On this page
                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                </button>

            </div>
        </div>


        <p>With SPIA, after clients pay the single premium the focus immediately turns to income payments.</p>


    </div>


    <h2 dir="ltr">Product Information</h2>

    <h3 dir="ltr">Policy Structure</h3>

    <p dir="ltr">Single-premium immediate annuity</p>

    <h3 dir="ltr">Additional Information&nbsp;</h3>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <td><strong>Issuing Company</strong></td>
        <td>American United Life Insurance Company<sup>®</sup></td>
    </tr>

    <tr role="row">
        <td><strong>Policy Form Number</strong></td>
        <td>LA-21, LA-22 and LA-23</td>
    </tr>

    <tr role="row">
        <td><strong>Issue Ages</strong></td>
        <td>
            <ul>
                <li>0–89 for SPIAs with life contingencies</li>

                <li>No issue age restrictions for SPIAs with a fixed period certain</li>
            </ul>
        </td>
    </tr>

    <tr role="row">
        <td><strong>Sweet Spot</strong></td>
        <td>
            <p>Conservative clients wanting:</p>

            <ul>
                <li>Immediate payouts</li>

                <li>Lifetime income they cannot outlive</li>
            </ul>
        </td>
    </tr>

    <tr role="row">
        <td><strong>Most Beneficial Rate</strong></td>
        <td>Contract index date within 60 days after the application date. The contract will be given the greater of the cap/participation rate on the index date or the rate in effect for contracts issued on the application date.</td>
    </tr>

    <tr>
        <td><strong>Minimum Premium</strong></td>
        <td>
            <ul>
                <li>$5,000 minimum</li>

                <li>$2,500 minimum for the Access Advantage program</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td><strong>Maximum Premium Without Home Office Approval</strong></td>
        <td>$1 million</td>
    </tr>

    <tr>
        <td><strong>Fees</strong></td>
        <td>No sales or administration fees</td>
    </tr>

    <tr>
        <td><strong>Surrender Charges</strong></td>
        <td>None</td>
    </tr>

    <tr>
        <td><strong>Payout Options</strong></td>
        <td>
            <ul>
                <li>Joint and survivor</li>

                <li>Life only</li>

                <li>Life with period certain</li>

                <li>Fixed period</li>

                <li>Life with installment refund</li>
            </ul>
        </td>
    </tr>

    </tbody></table>

    <p dir="ltr"><strong>Note</strong>:</p>

    <p dir="ltr">The Access Advantage program mentioned in the minimum premium section allows single-pay policies to meet the seven- pay limits under the Technical and Miscellaneous Revenue Act of 1988 (TAMRA).</p>

    <h2 dir="ltr">Income Payment Increase Rider</h2>

    <table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
    <tr role="row">
        <td><strong>Description</strong></td>
        <td>The option increases your clients’ annuity payments annually. By selecting an annual increase percentage of 1 percent to 10 percent, your clients can increase monthly income payments annually on a compound basis.</td>
    </tr>

    <tr role="row">
        <td><strong>Rider Form Number</strong></td>
        <td>LR-228. <u>See a sample of the rider pages</u>.</td>
    </tr>

    <tr role="row">
        <td><strong>Issue Ages</strong></td>
        <td>55-99</td>
    </tr>

    <tr role="row">
        <td><strong>Rider Restrictions</strong></td>
        <td>None</td>
    </tr>

    <tr role="row">
        <td><strong>Option Change</strong></td>
        <td>None. The rider will reduce the initial income payment amount.</td>
    </tr>

    <tr>
        <td><strong>Available After Issue?</strong></td>
        <td>No</td>
    </tr>

    </tbody></table>

    <h2 dir="ltr">Single Premium Immediate Annuity State Approvals</h2>

    <p dir="ltr">SPIA is approved in all states in which OneAmerica conducts business. OneAmerica is not licensed in New York.</p>

    <p dir="ltr">State variations may apply.</p>


    <hr>


</div>