<div class="page-content">
<div class="page-header">
<h1>American Accumulator</h1>
</div>

<p>Many clients purchased valuable life insurance protection with American Accumulator.</p>


</div>


<h2>Policy Structure</h2>

<p>Flexible-premium variable universal life</p>

<h2>Product Information</h2>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<th style=" width: 236px;">Issuing Company</th>
<td style=" width: 352px;">American United Life Insurance Company<sup>®</sup></td>
</tr>

<tr role="row">
<th style=" width: 236px;">Policy Form Number</th>
<td style=" width: 352px;">FPVUL</td>
</tr>

<tr role="row">
<th style=" width: 236px;">Issue Ages Were</th>
<td style=" width: 352px;">0-85 (Preferred rates were available starting at age 18)</td>
</tr>

<tr role="row">
<th style=" width: 236px;">Underwriting Classes</th>
<td style=" width: 352px;">
<ul>
<li>Preferred nontobacco</li>

<li>Standard plus nontobacco</li>

<li>Standard nontobacco</li>

<li>Preferred tobacco</li>

<li>Standard tobacco</li>
</ul>
</td>
</tr>

<tr role="row">
<th>Rated Underwriting</th>
<td>Nontobacco and tobacco substandard</td>
</tr>

<tr>
<th>Maximum Rating</th>
<td>Table P</td>
</tr>

<tr>
<th>Optional Investment Option Programs</th>
<td>
<ul>
<li>Ibbotson’s portfolio optimization</li>

<li>Dollar cost averaging</li>

<li>Portfolio rebalancing</li>
</ul>
</td>
</tr>

<tr>
<th>Death Benefit Options</th>
<td>
<ul>
<li>Level, total face amount plus the account value</li>

<li>Level with a return-of-premium feature</li>
</ul>
</td>
</tr>

<tr>
<th>Minimum Face Amount</th>
<td>
<ul>
<li>$50,000 standard and substandard</li>

<li>$100,000 preferred and standard plus</li>
</ul>
</td>
</tr>

<tr>
<th>Maximum Face Amount</th>
<td>None specified</td>
</tr>

<tr>
<th>Minimum Premium</th>
<td>$100 monthly bank deduction or $1,000 annually</td>
</tr>

<tr>
<th>Minimum Required Premium</th>
<td>
<ul>
<li>Varies by issue age, gender and underwriting class</li>

<li>May be higher than minimum premium amounts stated above</li>
</ul>
</td>
</tr>

<tr>
<th>Available Billing Modes</th>
<td>Monthly bank deduction or annual or semi-annual billing</td>
</tr>

</tbody></table>

<h2>Fees, Surrender Charges and Access to Cash Value</h2>

<h3>Fees</h3>

<ul>
<li>Premium expense: 6 percent of all premiums received</li>

<li>Administrative

<ul>
<li>Year 1: $25 monthly</li>

<li>Years 2+: $10 monthly</li>
</ul>
</li>

<li>Face Amount

<ul>
<li>Monthly charge per $1,000 in policy years one through 10</li>

<li>The charge varies by issue age, gender and underwriting class</li>
</ul>
</li>

<li>Cost of insurance: The monthly charge varies by issue age, gender and underwriting class</li>

<li>Monthly mortality and expense charge: 0.75% of the variable account value in years 1 through 10 and0.25% in years 11+</li>
</ul>

<h3>Surrender Charges</h3>

<ul>
<li>9-year surrender charge period</li>

<li>The surrender amount varies by issue age, gender and underwriting class</li>
</ul>

<h3>Access to Cash Value</h3>

<table class="data-table table table-striped table-bordered table-hover" dir="ltr" role="grid"><tbody>
<tr role="row">
<th style=" height: 35px;">Gross Loan Interest Rate</th>
<td style=" height: 35px;">5%</td>
</tr>

<tr role="row">
<th style=" height: 19px;">Net Loan Interest Rate</th>
<td style=" height: 19px;">2%</td>
</tr>

<tr role="row">
<th>Minimum Loan Amount</th>
<td>$500</td>
</tr>

<tr role="row">
<th>Maximum Loan Amount</th>
<td>
<p>The loan calculation may vary by state. Generally, the maximum amount is reduced by the following:</p>

<ul>
<li>Any loan interest due on the next policy anniversary</li>

<li>Any applicable surrender charges</li>

<li>Three monthly deductions</li>

<li>Any existing loans and accrued loan interest</li>
</ul>
</td>
</tr>

</tbody></table>

<h2>FPVUL Riders</h2>

<p>Life insurance riders are features to help your clients:&#160;</p>

<ul>
<li>Increase total coverage&#160;</li>

<li>Enhance policy values&#160;</li>

<li>Obtain insurance on loved ones&#160;</li>

<li>Keep coverage in force</li>
</ul>

<h3>Riders At-a-Glance</h3>

<p>Click the links below to get details about FPVUL riders.</p>

<h4>Increase Total Coverage</h4>

<ul>
<li><a href="#c/riders/service-only/fpvul-guaranteed-insurability-rider" target="_self" >Guaranteed Insurability Rider</a>: Allows the policy owner to increase the life insurance protection at scheduled future dates without providing proof of health.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-supplemental-face-amount" target="_self" >Supplemental Face Amount</a>: Can increase the total death benefit. The benefit allows the policy owner to blend permanent base coverage with term coverage for an overall lower premium.</li>
</ul>

<h4>Enhance Policy Values</h4>

<ul>
<li><a href="#c/riders/service-only/fpvul-accounting-benefit-rider" target="_self" >Accounting Benefit Rider</a>: Allows clients to receive cash surrender values that are higher than if the rider were not attached. If clients decide to surrender the policy during the first five policy years, the rider will reduce the surrender charge.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-credit-of-premium-disability-rider" target="_self" >Credit of Premium Disability Rider</a>: Credits a designated monthly premium amount to the account value in the event the primary insured becomes totally disabled as defined by rider page #LR-209.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-premium-deposit-account-rider" target="_self" >Premium Deposit Account Rider</a>: Allows clients to build cash reserves with interest for the future.</li>
</ul>

<h4>Obtain Insurance on Loved Ones</h4>

<ul>
<li><a href="#c/riders/service-only/fpvul-change-of-insured-rider" target="_self" >Change of Insured Rider</a>: Allows one change of insured on an in-force policy prior to the primary insured’s death.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-childrens-term-insurance-rider" target="_self" >Children's Term Insurance Rider</a>: Allows the purchase of temporary life insurance on the insured’s biological, step and legally adopted children. The policy owner can also convert to permanent life insurance protection when the temporary coverage expires for each child.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-other-insured-term-insurance-rider" target="_self" >Other Insured Term Insurance Rider</a>: Allows clients to cover multiple lives with one policy. Policy owners may obtain term coverage on the insured’s spouse or the insured’s business associates.</li>
</ul>

<h4>Keep Coverage in Force</h4>

<ul>
<li><a href="#c/riders/service-only/fpvul-accelerated-death-benefit-rider" >Accelerated Death Benefit Rider</a>: Prepays a portion of the death benefit if the insured has been diagnosed as terminally ill with 12 months or less to live.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-extended-no-lapse-guarantee-rider" target="_self" >Extended No-Lapse Guarantee Rider</a>: This rider has the same no-lapse guarantee test included in the base policy but offers a longer no-lapse guarantee period that varies by issue age. The policy owner can also convert to permanent life insurance protection when the temporary coverage expires for each child.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-overloan-protection-rider" target="_self" >Overloan Protection Rider</a>: If a policy owner has loan indebtedness of 94% or more of the accumulated cash value after age 75, this rider guarantees the policy will remain in force. The rider provides an option to continue the policy at a reduced face amount.&#160;</li>

<li><a href="#c/riders/service-only/fpvul-waiver-of-monthly-deductions-disability-rider" target="_self" >Waiver of Monthly Deductions Disability Rider</a>: If the primary insured becomes totally disabled as defined in rider page #LR-208, the Waiver of Monthly Deductions Disability Rider will waive the monthly insurance deductions. Those include: cost of insurance, face amount charges, administrative charges and any rider charges.</li>
</ul>

<h2>Sample Policy and Rider Pages</h2>

<p>Click the links below for quick access to standard versions of policy and rider pages. See details about how the features work. Note that all policy and rider form numbers are subject to the limitations described in the policy and rider pages, state availability and state variations.</p>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icco8-fpvul-sample-policy-and-supplemental-face-amount" >American Accumulator Policy Pages</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>

<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icc08-lr-210-sample-guaranteed-insurability-rider" >Guaranteed Insurability Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icco8-lr-211-sample-accelerated-death-benefit-rider" >Accelerated Death Benefit Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>

<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/lr-212-sample-other-insured-term-insurance-rider" >Other Insured Term Insurance Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icco8-lr-201-sample-accounting-benefit-rider" >Accounting Benefit Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>

<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/lr-202-sample-overloan-protection-rider" >Overloan Protection Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/lr-204-sample-change-of-insured-rider" >Change of Insured Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>

<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/lr-214-sample-premium-deposit-account" >Premium Deposit Account Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icc08-lr-206-sample-childrens-term-insurance-rider" >Children's Term Insurance Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>

<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icco8-fpvul-sample-policy-and-supplemental-face-amount" >Supplemental Face Amount</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icc08-lr-209-sample-credit-of-premium-disability-rider" >Credit of Premium Disability Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>

<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icco8-lr-208-sample-waiver-of-monthly-deductions-disability-rider" >Waiver of Monthly Deductions Disability Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<div class="row">
<div class="col-sm-6"><a href="/wps/wcm/connect/indcontent/oso/documents/service-only-sample-pages/american-accumulator/icc08-lr-205-sample-extended-no-lapse-guarantee-rider" >Extended No-Lapse Guarantee Rider</a> <i class="fa gray-80 fa-file-pdf-o"></i></div>
</div>

<hr />
<p><strong>Note&#160;</strong></p>

<p>OneAmerica is the marketing name for American United Life Insurance Company<sup>®</sup> (AUL).&#160;</p>

<p><strong>Variable universal life policies are sold by prospectus. Clients should carefully consider the investment objectives, risks, charges and expenses of the investment company before investing. Clients should carefully read the prospectus before investing or sending money. For a current prospectus containing more complete information including charges, expenses, risks and limitations, call AUL at 1-877-999-9883.&#160;</strong></p>

<p>Products issued and underwritten by AUL, Indianapolis, IN, a OneAmerica company. American Accumulator form number series FPVUL. May not be available in all states and may vary by state.&#160;</p>

<p>All guarantees are subject to the claims-paying ability of AUL.&#160;</p>

<p>Registered contracts issued by AUL were distributed by OneAmerica Securities, Inc., Member FINRA, SIPC, a Registered Investment Advisor, 433 N. Capitol Ave., Indianapolis, IN 46204, <a href="tel:+1-877-285-3863">1 (877) 285-3863</a>, which is a wholly owned subsidiary of AUL.&#160;</p>

<p>Provided content is for overview and informational purposes only and is not intended as tax, legal, fiduciary or investment advice.</p>



<div class="modal help-modal fade" id="wcmModal" tabindex="-1" role="dialog" aria-labelledby="wcmModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>
<div class="modal-body">


</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>




































