<div class="page-content">
    <div class="page-header">
        <h1>Frequently Asked Questions</h1>
    </div>
    <!-- /.page-header -->
    <!-- PAGE CONTENT BEGINS -->
    <p>I can't see a thing in this helmet. This is not going to work. Why didn't you say so before? I did say so before! Where are you taking this...thing? Prisoner transfer from Block one-one-three-eight. I wasn't notified. I'll have to clear it.</p>
    <p><a href="#c/faq/underwriting">FAQ's for Underwriting</a></p>
    <h3>Underwriting Requirements</h3>
    <div class="accordion-style1 panel-group accordion-style2 accordion-style-faq">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed pointer clearfix" data-toggle="collapse" data-target="#collapseOne">
                        <div class="faq-col-label">
                            <span class="label">Q</span>
                        </div>
                        <!-- faq-col-label -->
                        <div class="faq-col-content">
                            <i class="pull-right ace-icon fa fa-chevron-left" data-icon-show="ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down"></i>
                            What criteria determine the initial underwriting requirements?
                        </div>
                        <!-- faq-col-content -->
                    </a>
                    <!-- accordion-toggle collapsed -->
                </h4>
                <!-- /.panel-title -->
            </div>
            <!-- /.panel-heading -->
            <div class="collapse" id="collapseOne" aria-expanded="false">
                <div class="panel-body">
                    <div class="faq-col-label">
                        <span class="label">A</span>
                    </div>
                    <!-- faq-col-label -->
                    <div class="faq-col-content">
                        <p>To determine the minimum requirements necessary, the underwriter will locate information on the routine underwriting requirements chart:</p>
                        <ul>
                            <li>Age of the proposed insured</li>
                            <li>Face amount or net amount at risk (NAR)</li>
                        </ul>
                        <p>NAR = Proposed death benefit - Proposed premium</p>
                        <p>Example: an application for a $250,000 death benefit with a $100,000 single premium has a net amount at risk of $150,000.</p>
                        <p>The proposed insured’s birthday and timing of the application determine that person’s age at time of policy issue.</p>
                        <h4>Insured’s Birthday to Determine Age at Policy Issue</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Approach</th>
                                    <th>Channel</th>
                                    <th>Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Age nearest. If the client is within six months of his or her next birthday, the older age determines requirements.</td>
                                    <td>Retail</td>
                                    <td>American United Life Insurance Company® (AUL)</td>
                                </tr>
                                <tr>
                                    <td>Age last birthday</td>
                                    <td>Care Solutions</td>
                                    <td>The State Life Insurance Company® (AUL)</td>
                                </tr>
                                <tr>
                                    <td>Age last birthday</td>
                                    <td>Independent Brokerage</td>
                                    <td>Pioneer Mutual Life Insurance Company® (PML)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="table-responsive-instruction">
                            <div class="align-center"><i class="ace-icon fa fa-hand-o-right inline gray-60"></i>
                                <p class="text-info inline">swipe/scroll to view entire table</p>
                                <i class="ace-icon fa fa-hand-o-left inline gray-60"></i>
                            </div>
                            <!-- /.align-center -->
                        </div>
                        <!-- /.table-responsive-instruction -->
                    </div>
                    <!-- faq-col-content -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.collapse -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed pointer clearfix" data-toggle="collapse" data-target="#collapseTwo">
                        <div class="faq-col-label">
                            <span class="label">Q</span>
                        </div>
                        <!-- faq-col-label -->
                        <div class="faq-col-content">
                            <i class="pull-right ace-icon fa fa-chevron-left" data-icon-show="ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down"></i>
                            How does Underwriting determine requirements for Asset-Care<sup>®</sup> joint life policies?
                        </div>
                        <!-- faq-col-content -->
                    </a>
                    <!-- accordion-toggle collapsed -->
                </h4>
                <!-- /.panel-title -->
            </div>
            <!-- /.panel-heading -->
            <div class="collapse" id="collapseTwo" aria-expanded="false">
                <div class="panel-body">
                    <div class="faq-col-label">
                        <span class="label">A</span>
                    </div>
                    <!-- faq-col-label -->
                    <div class="faq-col-content">
                        <p>Asset-Care I, II and III (single premium): use the proposed insured’s current age (last birthday) and the NAR.</p>
                        <p>Asset-Care IV (continuous pay and whole life): use the proposed insured’s current age and the specified amount.</p>
                    </div>
                    <!-- faq-col-content -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.collapse -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed pointer clearfix" data-toggle="collapse" data-target="#collapseThree">
                        <div class="faq-col-label">
                            <span class="label">Q</span>
                        </div>
                        <!-- faq-col-label -->
                        <div class="faq-col-content">
                            <i class="pull-right ace-icon fa fa-chevron-left" data-icon-show="ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down"></i>
                            How does Underwriting determine requirements if a client already has coverage and applies for an additional policy?
                        </div>
                        <!-- faq-col-content -->
                    </a>
                    <!-- accordion-toggle collapsed -->
                </h4>
                <!-- /.panel-title -->
            </div>
            <!-- /.panel-heading -->
            <div class="collapse" id="collapseThree" aria-expanded="false">
                <div class="panel-body">
                    <div class="faq-col-label">
                        <span class="label">A</span>
                    </div>
                    <!-- faq-col-label -->
                    <div class="faq-col-content">
                        <p>The face amount to determine requirements includes:</p>
                        <ul>
                            <li>All life insurance issued and in force by all OneAmerica® companies within the past 12 months
                            </li><li>The current application
                        </li></ul>
                    </div>
                    <!-- faq-col-content -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.collapse -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.accordion-style1 panel-group accordion-style2 -->

    <h3>Underwriting Timeframe</h3>
    <div class="accordion-style1 panel-group accordion-style2 accordion-style-faq">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed pointer clearfix" data-toggle="collapse" data-target="#collapsefour">
                        <div class="faq-col-label">
                            <span class="label">Q</span>
                        </div>
                        <!-- faq-col-label -->
                        <div class="faq-col-content">
                            <i class="pull-right ace-icon fa fa-chevron-left" data-icon-show="ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down"></i>
                            How long are life insurance applications and underwriting requirements valid?
                        </div>
                        <!-- faq-col-content -->
                    </a>
                    <!-- accordion-toggle collapsed -->
                </h4>
                <!-- /.panel-title -->
            </div>
            <!-- /.panel-heading -->
            <div class="collapse" id="collapsefour" aria-expanded="false">
                <div class="panel-body">
                    <div class="faq-col-label">
                        <span class="label">A</span>
                    </div>
                    <!-- faq-col-label -->
                    <div class="faq-col-content">
                        <p>The timeframe varies. See below for details.</p>
                        <h4>Applications</h4>
                        <p>Applications are good for 90 days. If an exam is dated after the application, the application is good for 120 days.</p>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Issuing Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>American Protector Plus term life insurance</td>
                                    <td>American United Life Insurance Company® (AUL)</td>
                                </tr>
                                <tr>
                                    <td>Annuity Care® asset-based long-term care coverage</td>
                                    <td>The State Life Insurance Company (State Life)</td>
                                </tr>
                                <tr>
                                    <td>Asset-Care® LTC long-term care coverage</td>
                                    <td>State Life</td>
                                </tr>
                                <tr>
                                    <td>Legacy whole life insurance</td>
                                    <td>AUL</td>
                                </tr>
                                <tr>
                                    <td>Liberty Select whole life insurance</td>
                                    <td>AUL</td>
                                </tr>
                                <tr>
                                    <td>Optimum Accumulator universal life insurance</td>
                                    <td>Pioneer Mutual Life Insurance Company® (PML)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="table-responsive-instruction">
                            <div class="align-center"><i class="ace-icon fa fa-hand-o-right inline gray-60"></i>
                                <p class="text-info inline">swipe/scroll to view entire table</p>
                                <i class="ace-icon fa fa-hand-o-left inline gray-60"></i>
                            </div>
                            <!-- /.align-center -->
                        </div>
                        <!-- /.table-responsive-instruction -->
                        <h4>Requirements</h4>
                        <p>Decisions stand for 60 days unless otherwise indicated.</p>
                        <p><strong>Note</strong></p>
                        <p>The underwriter reserves the right to order a new application or other requirements on a discretionary basis.</p>
                    </div>
                    <!-- faq-col-content -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.collapse -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.accordion-style1 panel-group accordion-style2 -->


    <!-- PAGE CONTENT ENDS -->
</div>