<div class="page-content">
    <div class="wcmContent">

        <h3>Vendors</h3>

        <div class="table-responsive">
            <h3>APS Vendor</h3><h4>Effective May 1, 2016 to the present, our APS vendor is:</h4>
            <div class="row" dir="ltr">
                <div class="col-md-6">
                    <address><strong>Parameds.com (PDC)</strong><br>
                        120-10 Queens Blvd<br>
                        Kew Gardens, NY 11415<br>
                        (718) 575-2000<br>
                        <a href="mailto:office@parameds.com">office@parameds.com</a>&nbsp;</address>
                </div>
            </div>
            <p>PDC's expertise and proven performance enables us to improve our service to you by
                more efficiently managing the APS retrieval process. Because we know how important
                it is to continually improve our underwriting processing time, we work with PDC to
                use changing technologies and procedures to improve our retrieval of medical records
                for you.</p>
            <p>To accomplish this, we implemented a new procedure for obtaining special
                authorizations, when needed in the collection of medical records. PDC goes directly
                to the applicant to obtain a special authorization if needed, instead of routing the
                request through the OneAmerica Home Office.</p>
            <p>We're excited to offer this improvement in overall service and processing time!</p>
            <p>
                <a href="http://image.statelife.oneamericaemailservices.com/lib/fefd1c74756105/m/1/One+America+PDC+Protocol.pdf">Review
                    the process for obtaining special authorizations »</a></p>
            <p>For access to view your APS orders on the PDC site, please contact Diana Cole at <a
                    href="mailto:diana.cole@oneamerica.com">diana.cole@oneamerica.com</a>. Please
                provide her with your name, email address and a direct phone number.</p>
            <h3>Paramed Companies</h3>
            <p>Call any one of the following approved vendors with the OneAmerica<sup>®</sup>
                companies to arrange medical requirements (paramed exams, blood draws, etc.) for
                your applicants. Your call will be directed to an office near your applicant. You
                may also access information on a vendor’s branch office in your area via the
                vendor’s Web site.</p>
            <div class="row" dir="ltr">
                <div class="col-md-6">
                    <address><strong>ExaminRetail Sales Desk</strong><br>
                        <p>Examination Management Services, Inc. (EMSI) 3050 Regent Blvd., Suite 400
                            Irving, TX 75063 1-800-USA-EMSI (1-800-872-3674) www.emsinet.com</p>
                    </address>

                    <p>&nbsp;</p>
                </div>

                <div class="col-md-6">
                    <address><strong>Care Solutions Sales Desk</strong><br>
                    </address>
                </div>
            </div>
            <div class="row" dir="ltr">
                <div class="col-md-6">
                    <address><strong>Retail Sales Desk</strong><br>
                    </address>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;ExamOne 10101 Renner Blvd. Lenexa, KS 66219 1-877-93Exam1 (1-877-933-9261)
                www.myexamone.com On the EMSI site, click on Insurance Services, then Paramedical
                Examinations. At the bottom of that page, click on Branch Locations and then Paramed
                Service Centers.&nbsp;</p>
            <p>Note: The Home Office will order medical records at the request of the Underwriting
                department. Inspections and Motor Vehicle Reports (MVR) are also ordered from the
                Home Office.</p>
            <table role="grid" class="data-table table table-striped table-bordered table-hover">
                <tbody></tbody>
            </table>
        </div>

        <div class="row table-responsive-instruction">
            <div class="col-xs-12 align-center"><i
                    class="ace-icon fa fa-hand-o-right inline gray-60"></i>
                <p class="text-info inline">swipe/scroll to view entire table</p>
                <i class="ace-icon fa fa-hand-o-left inline gray-60"></i></div>
        </div>
    </div>
</div>