<div class="alert alert-info alert-sitewide">
    <div class="alert-icon"> <i class="ace-icon fa fa-exclamation"></i></div>
    <!-- /.alert-icon -->
    <div class="row">
        <div class="col-sm-8">
            <p>
                <i class="fa fa-arrow-left"></i>
                <a href="https://www.ols.oneamerica.com/home.faces">Return to the original version of <strong>OneSource Online</strong></a>
            </p>
            <p>
                <a data-toggle="collapse" href="#alertcollapse" aria-expanded="true" aria-controls="collapseExample" class="sans-text-decoration">
                    The <em>New</em> OneSource Online features include 
                    <i class="bigger-130 margin-right-5 ace-icon fa fa-angle-down" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-left"></i>
                </a>
            </p>
            <div class="collapse in" id="alertcollapse" aria-expanded="true">
                <ul>
                    <li>Pending policy details</li>
                    <li>Submitting requirements</li>
                    <li>View as Producer</li>
                </ul>
                <p>Check out the updated content in the left menu section too. We’ll be adding more features and content each month, so visit often!</p>
            </div>
        </div>
        <!-- /.col-sm-8 -->
        <div class="col-sm-4">
            <button id="survey-button" class="btn btn-lg btn-info btn-promo">
                <div class="btn-promo-icon hidden-xs"><i class="ace-icon fa fa-comment"></i></div>
                <div class="btn-promo-content">Feedback <div>Voice Your Thoughts</div></div>
            </button>
        </div>
        <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->
</div>
<!--alert alert-info-->