<div class="page-content">
    <div class="wcmContent">
        <div class="page-content">
            <div class="page-header">
                <h1>Pre-Underwriting Inquiry</h1>
            </div>

        </div>

        <p>When you have a prospect with questionable insurability, and you want an informal
            underwriting review, use our Pre-Underwriting Inquiry (PUI). The program provides a
            general evaluation based on the prospect’s history without the need for a full
            application. The prospect can then decide whether or not to pursue life insurance.</p>

        <p><br>
            To get started, complete and save the fillable form, <a
                    href="/wps/wcm/connect/indcontent/oso/documents/underwriting/i-27283-pre-underwriting-inquiry"
                    target="_blank">Pre-Underwriting Inquiry (I-27283)</a>. Use all form fields to
            tell us more about your prospect.<br>
            &nbsp;</p>

        <h3>Here’s what you should know about PUI:</h3>

        <ul>
            <li><strong>The more detail the better</strong>: you can attach up to five additional
                pages of information, such as a pathology report or lab results<br>
            </li>

            <li><strong>Never guarantee our response</strong>: we provide a tentative response, and
                we can only make a final underwriting decision after we review:<br>
                <ul>
                    <li>The formal application and<br>
                    </li>

                    <li>All requirements<br>
                    </li>
                </ul>
            </li>

            <li><strong>Include a copy of the PUI if you submit the formal application</strong>:
                this can save time<br>
            </li>

            <li><strong>Know how long the PUI is valid</strong>: 60 days</li>
        </ul>
    </div>
</div>