<p dir="ltr">
	Please read before setting up dollar cost averaging.</p>
<ul dir="ltr">
	<li>
		To participate in the program, a minimum balance of $10,000.00 in the Money Market Investment Account, the Fixed Interest Account, or the Stable Value Account is required.</li>
	<li>
		Plan sponsors and Participants may discontinue participation at any time by providing written notice to AUL at least five (5) business days before a scheduled transfer is to occur.</li>
	<li>
		All transfer frequency periods are based on a calendar year end.</li>
	<li>
		The transfers will be made from all available sources on a pro-rata basis.</li>
	<li>
		Transfers may be done monthly, quarterly, semi-annually, or annually on the last business day of such frequency period chosen. The first transfer will occur on the last business day of such frequency period chosen after proper receipt of the request.</li>
	<li>
		Only those investments available under the plan are available for this program.</li>
	<li>
		If a program is terminated by the Plan Sponsor, Participant, or AUL, a new request must be completed to begin a new program.</li>
	<li>
		Use of the OneAmerica Interactive Voice Response system (OneAmerica Teleserve<sup>®</sup>) and/or web (eServices) for transfer purposes outside of the program may affect your program objective.</li>
	<li>
		Participation in the program does not assure a Plan Sponsor or Participant of greater profits from the purchases under the program, nor will it prevent or necessarily alleviate losses in a declining market.</li>
	<li>
		A minimum of $100 per DCA transfer is required. AUL reserves the right to change this minimum transfer amount in the future.</li>
	<li>
		A participant may have one Fixed Interest DCA, one Stable Value Account and one Money Market DCA program active at the same time.</li>
	<li>
		Transfers in the DCA program from the Fixed Interest Account will be effected on a first-in, first-out basis.</li>
	<li>
		If there is more than one Fixed Interest account available under the plan, then the Fixed Interest Account from which the transfer is to be taken must be specified.</li>
	<li>
		An Accrued Interest Installment or Interest Sweep is not available at the same time a Fixed Fund DCA or a Stable Value DCA is set up.</li>
	<li>
		DCA transfers to the Fixed Interest Account, to the Stable Value Account or to the Money Market Investment Account are not permitted under the DCA program.</li>
	<li>
		DCA transfers will terminate automatically when the earliest of the following occurs:
		<ul>
			<li>
				AUL receives written notification to discontinue DCA program.</li>
			<li>
				The expiration of the length of time selected.</li>
			<li>
				There is not enough money in the Money Market Investment Account, the Fixed Interest Account, or the Stable Value Account to continue the program.</li>
			<li>
				The 20% limit has been met on the Fixed Interest Account (for Fixed Interest DCA only).</li>
		</ul>
	</li>
</ul>
<div class="g-note" dir="ltr">
	<p>
		<span>Note:</span> If you have any questions, please contact our Participant Service Center during normal business hours (Monday - Friday, 8 a.m. to 8 p.m. ET) at 1-800-249-6269 for questions regarding your request.</p>
</div>

