<p dir="ltr">
	Please read before setting up interest sweeps.</p>
<ul class="dash-list" dir="ltr">
	<li>
		To participate in the program, a minimum balance of $10,000.00 in a Fixed Interest Account or Stable Value Account is required.</li>
	<li>
		Plan sponsors and Participants may discontinue participation at any time by providing written notice to AUL at least five (5) business days before a scheduled transfer is to occur.</li>
	<li>
		All transfer frequency periods are based on a calendar year end.</li>
	<li>
		The transfers will be made from all available sources on a pro-rata basis.</li>
	<li>
		Transfers may be done monthly, quarterly, semi-annually, or annually on the last business day of such frequency period chosen. The first transfer will occur on the last business day of such frequency period chosen after proper receipt of the request.
		<ul>
			<li>
				Important Note: The first Interest Sweep to process will not transfer any money.</li>
		</ul>
	</li>
	<li>
		Only those investments available under the plan are available for this program.</li>
	<li>
		If a program is terminated by the Plan Sponsor, Participant, or AUL, a new request must be completed to begin a new program.</li>
	<li>
		Use of the OneAmerica Interactive Voice Response system (OneAmerica Teleserve®) and/or web (eServices) for transfer purposes outside of the program may affect your program objective.</li>
	<li>
		Participation in the program does not assure a Plan Sponsor or Participant of greater profits from the purchases under the program, nor will it prevent or necessarily alleviate losses in a declining market.</li>
	<li>
		Interest Sweep Transfers may occur from a Fixed Interest Account or a Stable Value Account.</li>
	<li>
		An Accrued Interest Installment or DCA transfer is not available at the same time an Interest Sweep is set up.</li>
	<li>
		Interest Sweep transfers will terminate automatically when the earliest of the following occurs:
		<ul>
			<li>
				AUL receives written notification to discontinue the Interest Sweep program.</li>
			<li>
				The expiration of the length of time selected.</li>
		</ul>
	</li>
</ul>
<div class="g-note" dir="ltr">
	<p>
		<span>Note:</span> If you have any questions, please contact our Participant Service Center during normal business hours (Monday - Friday, 8 a.m. to 8 p.m. ET) at 1-800-249-6269 for questions regarding your request.</p>
</div>

